/* Base colors
=================================================================*/
$body-bg-color: #fff;
$body-color: #222;
$link-color: #0000ee;


/* Layout colors
=================================================================*/
$nav-bg-color: #fff;
$border-color: #eee;
$lesser-color: #828282;
$lesser-color-hover: #2c2c2c;