@import "compass/css3";
@import "_partials/functions";
@import "_partials/normalize";
@import "_partials/variables";
@import "_partials/extendables";
@import "_partials/mixins";
@import "_partials/responsive-js";
@import "_partials/rem";
@import "_partials/grid";

/* General rules
=================================================================*/
* {
    -webkit-tap-highlight-color:rgba(#000,0);
    outline: 0;
    @include box-sizing(border-box);
}

html {
    /* Enable font-size zoom for old ies */
    font-size: 100%;

    &.active-menu {
        height: 100%;
        overflow: hidden;
    }
    
    &.touch.no-overflow-scroll.active-menu {
        overflow: visible;
    }
}

body {
    font: #{$body-size}/#{$line-height} #{$body-font};
    background: $body-bg-color;
    color: $body-color;

    .active-menu & {
        height: 100%;
        overflow: hidden;
        @include userselect();
    }
    
    .touch.no-overflow-scroll.active-menu & {
        overflow: visible;
    }
}

#container {
    /* Fix for IOS rotation bug */
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    float: left;

    .active-menu & {
        overflow: hidden;
    }
    
    .touch.no-overflow-scroll.active-menu & {
        overflow: visible;
    }
}

#content-toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: $mobile-menu-width;
    background: $body-bg-color;
    z-index: 10000;
    @include opacity(0);
    
    @include respond-min($break-skinny) {
        left: $skinny-menu-width;
    }
}

#container-transition {
    width: 100%;
    height: 100%;
    float: left;
	@include transition-property(all);
    @include transition-duration(.18s);
    @include transition-timing-function(ease-in-out);
    
    .touch.no-overflow-scroll & {
        height: auto;
    }

    .toggle-menu & {
        position: relative;
        left: $mobile-menu-width;
        
        @include respond-min($break-skinny) {
            left: $skinny-menu-width;    
        }
        
        @include respond-min($break-medium) {
            left: 0;
        }
    }

    .csstransforms3d.toggle-menu & {
        left: 0;
        -webkit-backface-visibility: hidden;
        @include transform3d(translate3d($mobile-menu-width, 0, 0) scale3d(1, 1, 1));

        .wrapper {
            @include transform-style(flat);
        }

        @include respond-min($break-skinny) {
            @include transform3d(translate3d($skinny-menu-width, 0, 0) scale3d(1, 1, 1));
        }

        @include respond-min($break-medium) {
            left: 0;
            @include transform3d(translate3d(0, 0, 0));
        }
    }
}

a {
    color: $link-color;
    text-decoration: underline;
    @include transition-property(all);
    @include transition-duration(0.1s);
    @include transition-timing-function(ease-in);

    &:hover, &:focus {
        text-decoration: none;
    }
}

.wrapper {
    width: 100%;
    float: left;
    -webkit-backface-visibility: hidden;
    @include transform-style(flat);

    @include respond-min($break-medium) {
        padding: 0;

        @include old-ie {
            width: auto;
            min-width: 100%;
        }
    }
}

.holder {
    padding: $gutter;
    margin: 0 auto;
    clear: both;

    @include respond-min($break-medium) {
        width: $width;
        max-width: $max-width;
        padding: 0;
        position: relative;

        @include old-ie {
            /* Disable max-width for old IE */
            width: 100%;
            width: 980px;
        }
    }
}

/* Mobile togglers
=================================================================*/
#togglers {
    width: 100%;
    padding: 0 $gutter/2;
    height: auto;
    border-bottom: 1px solid $border-color;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    @include transform3d(translate3d(0, 0, 0));

    @include respond-min($break-medium) {
        display: none;
    }

    ul {
        width: 100%;
        margin: 0;
        padding: 0;
        @include inline-block;
    }

    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        @include inline-block;
    }

    a {
        padding: $gutter/2;
        text-decoration: none;
        display: block;

        &:active, &:focus, &:hover {
            text-decoration: none;
        }
    }

    #content-toggler {
        display: none;
    }

}

.mob-hide {
    display: none;

    @include respond-min($break-medium) {
        display: block;
    }
}

/* Header
=================================================================*/
#header {
    margin-bottom: $gutter;

    @include respond-min($break-medium) {
        background: #fff;
        padding: $gutter 0;
        border-bottom: 1px solid $border-color;
    }

    .holder {
        z-index: 1200;
    }
}

#logo {
    width: 72px;
    height: 48px;
    position: absolute;
    left: 50%;
    top: 4px;
    margin-left: -36px;
    text-indent: -9999px;
    display: block;
    @include svg-or-not('img/sprite');
    @include transform3d(translate3d(0,0,0));
    
    @include respond-min($break-skinny) {
        left: 35%;
    }

    @include respond-min($break-medium) {
        width: 156px;
        height: 87px;
        margin: 0 20px 0 0;
        float: left;
        position: static;
        background-position: 0 -50px;
    }
}

#cp {
    display: none;

    @include respond-min($break-medium) {
        display: block;
    }
}

/* Searchform
=================================================================*/
#searchform {
    width: 100%;
    padding: 15px 20px;
	clear: both;
	display: none;

	nav & {
	   display: block;
	}

	#content & {
	   display: block;
	   padding: 0;
	}

	#header & {

        @include respond-min($break-medium) {
            width: 20%;
            float: right;
            background: transparent;
            text-align: left;
            padding: 0;
            clear: none;
            display: block;
        }

        fieldset {
            line-height: 40px;
            margin: 0;
            padding: 0;
        }

        #s {
            width: 100%;
            clear: both;

            @include respond-min($break-medium) {
                width: 100%;
            }
        }
    }

    #searchsubmit {
        display: none;
    }
}

/* Main menu
=================================================================*/
nav {
    width: $mobile-menu-width;
    height: 100%;
    position: absolute;
    top: 0;
    left: -$mobile-menu-width;
    z-index: 1000;
    background: $nav-bg-color;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    border-right: 1px solid $border-color;
    
    .csstransforms3d & {
        left: 0;
        @include transform3d(translate3d(-100%, 0, 0));
    }

    .active-menu & {
        overflow: auto;
        overflow-x: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;

        @include respond-min($break-medium) {
            overflow: visible;
        }
    }
    
    .touch.no-overflow-scroll.active-menu & {
        overflow: visible;
    }

    @include respond-min($break-skinny) {
        width: $skinny-menu-width;
        left: -$skinny-menu-width;
        z-index: 10;
    }

    @include respond-min($break-medium) {
        width: 100%;
        left: 0;
        height: auto;
        float: left;
        position: static;
        border: none;
        @include box-shadow(none);

        .csstransforms3d & {
            @include transform3d(translate3d(0, 0, 0));
        }

        @include old-ie {
            float: none;
        }
    }
    
    @include old-ie {
        width: 100%;
        left: 0;
        height: auto;
        float: left;
        position: static;
    }

    ul {
        width: 100%;
        padding: 0;
        margin: 0;
        display: block;
        border-top: 1px solid $border-color;

        @include respond-min($break-medium) {
            border-top: none;
        }

        .toggle-sub {
            width: 50px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1200;
            cursor: pointer;
            display: block;
            border-left: 1px solid $border-color;
            
            &:after {
                content: '';
                width: 0;
                height: 0;
                border: 8px solid transparent;
                border-top: 8px solid #000;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -8px;
                margin-top: -4px;
            }
        }
        
        .toggle-sub-close {
            
            &:after {
                border: 8px solid transparent;
                border-bottom: 8px solid #000;
                margin-top: -12px;
            }
        }
        
            
    }

    li {
        width: 100%;
        float: left;
        position: relative;
        display: block;

        @include respond-min($break-medium) {
            width: auto;
            float: left;
        }
    }

    a {
        display: block;
        padding: $gutter/2 $gutter;
        text-decoration: none;
        border-bottom: 1px solid $border-color;
        position: relative;

        @include respond-min($break-medium) {
            padding: $gutter/2;
            border-bottom: none;
        }

        @include respond-min($break-desktop) {
            padding: $gutter/2 $gutter;
            float: left;
        }

        &:hover, &:focus {
            background: $border-color;

            @include respond-min($break-medium) {
            }
        }
    }

    .current_page_item
    , .current-menu-item
    , .current-page-ancestor
    , .current_page_parent
    {

        a {
        }

        @include respond-min($break-medium) {
            @include box-shadow(none);
            @include background-image(none);
            /* @include text-shadow(rgba(#000,.25) 0 1px 1px); */
        }
    }

    .current_page_item {

        a {

            &:after {
                @extend %navfeedback;
                border-right: 8px solid $border-color;
                right: 0;
                top: 50%;
                margin-top: -8px;

                @include respond-min($break-medium) {
                    display: none;
                }
            }
        }

        @include respond-min($break-medium) {
            &:after {
                display: none;
            }
        }

        .sub-menu {

            a {

                &:after {
                    display: none;
                }
            }
        }
    }

    .current_page_ancestor {

        @include respond-min($break-medium) {
            a {
            }
        }
    }
}

.sub-menu {
    width: 100%;
    border: none;
    display: none;
    float: left;
    background: #fff;
    position: relative;
    z-index: 10000;

    .current_page_parent &, .current-menu-parent & {
        display: block;
    }

    .current_page_ancestor &, .current-menu-item & {
        display: block;
        
        @include respond-min($break-medium) {
            display: none;
        }
    }

    .current_page_ancestor .menu-item & {
        display: none;
    }

    .current_page_ancestor .current_page_ancestor & {
        display: block;
    }

    li {    
        width: 100%;

        a {
            width: 100%;
            float: left;
            border-bottom: 1px solid $border-color;

            @include respond-min($break-medium) {
                padding: 8px $gutter/2;
                white-space: nowrap;
                border: none;
                color: $body-color;
                border-bottom: 1px solid $border-color;
            }
            
            &:hover, &:focus {
                background: $border-color;
            }
        }
        
        &:last-child {
            
            a {
            
                @include respond-min($break-medium) {
                    border: none;
                }
            }
        }
    }

    &.active-sub {
        display: block !important;
        float: left;
    }

    &.closed-sub {
        display: none !important;
    }

    @include respond-min($break-medium) {
        width: 200px;
        position: absolute;
        left: 0;
        top: 100%;
        margin-top: -4px;
        background: #fff;
        border: 1px solid $border-color;
    }
    
    &:before {
        
        @include respond-min($break-medium) {
/*
            content: '';
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-bottom: 6px solid #fff;
            position: absolute;
            margin-left: -3px;
            left: 50%;
            top: -12px;
*/
        }
    }
}

/* Content
=================================================================*/
#content {
    padding: $gutter/2 0;

    @include respond-min($break-medium) {
        padding: 0 0 $gutter;
    }

    .holder {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        display: table;
        caption-side: bottom;
        
        @include respond-min($break-medium) {
            width: $width;
            display: block;
        }
    }

    #header-image {
        margin-bottom: $gutter;
        @include border-radius();

        @include respond-min($break-medium) {
            width: 100%;
        }
    }

    /* Submenu
    =================================================================*/
    #submenu {
        display: table-caption;
        float: none;

        @include respond-min($break-medium) {
            margin-bottom: $gutter;
            float: left;
            clear: none;
            display: block;
            border: 1px solid $border-color;
        }

        ul {
            width: 100%;
            padding: 0;
            margin: 0;
            border: 1px solid $border-color;
            @include inline-block;
            
            @include respond-min($break-medium) {
                border: none;
            }
        }

        li {
            width: 100%;
            margin: 0;
            padding: 0;
            background: transparent;
            float: left;
            display: block;

            @include respond-min($break-medium) {
                margin-bottom: 0;
            }
            
            &:last-child {
                
                a {
                    border: none;
                }
            }
        }

        a {
            display: block;
            padding: $gutter/2;

            @include respond-min($break-medium) {
                background: transparent;
                border-bottom: 1px solid $border-color;
            }

            &:active {
            }

            &:hover, &:focus {
                background: $border-color;
            }
        }

        .current_page_item a {
            font-weight: bold;
        }
    }
}

/* Headers
=================================================================*/
h1 {
    font-weight: normal;
    margin-bottom: 0 0 $gutter/2;
    @include rem('font-size',$header-2);

    @include respond-min($break-medium) {
        margin-bottom: $gutter;
        @include rem('font-size',$header-1);
    }

    a {
        text-decoration: none;

        &:hover, &:focus {
        }
    }
}

h2 {
    margin: 0;
    font-weight: bold;
    @include rem('font-size',$header-3);

    @include respond-min($break-medium) {
        font-weight: normal;
        @include rem('font-size',$header-2);
    }
}

h3 {
    margin: 0;
    @include rem('font-size',$header-3);
}

h4 {
    margin: 0;
    font-weight: normal;
    @include rem('font-size',$header-4);
}

.page-header {

    h1 {
        padding-bottom: $gutter;
        margin-bottom: $gutter;
        border-bottom: 1px solid $border-color;
        @include rem('font-size',$header-2);
    }
}

/* Aside
=================================================================*/
aside {

    section {
        width: 100%;
        padding: $gutter/2;
        margin-bottom: $gutter;
        background: #fff;
        border: 1px solid $border-color;
        float: left;

        @include respond-min($break-desktop) {
            padding: $gutter;
        }

        &.no-padding {
            padding: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

    }

    img {
        margin-bottom: $gutter;
        @include border-radius();
    }

    h1 {
        margin-bottom: $gutter/2;
        font-weight: bold;
        @include rem('font-size',$body-size);

        a {
            text-decoration: none;
        }
    }

    ul {
        margin: 0;
    }

    a {
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    iframe {
        float: left;
    }
}

/* The blog
=================================================================*/
.posts {
    width: 100%;
    margin-bottom: $gutter;
    
    &:last-child {
        margin-bottom: 0;
    }

    @include respond-min($break-medium) {
        float: left;
    }

    header h1 {
        margin: 0;
    }

    p {
        margin: 0;
    }

    ul {
        padding-left: 40px;
    }

    .blog-thumb {
        display: none;

        @include respond-min($break-medium) {
            width: 87px;
            height: 68px;
            margin-right: $gutter/2;
            overflow: hidden;
            float: left;
            display: block;
            position: relative;

            img {
                position: absolute;
                left: 0;
                top: 0;
                @include border-radius(0);
            }
        }
    }

    .blog-post {

        @include respond-min($break-medium) {
            float: left;
        }
    }
}

.post-nav {
    text-align: center;

    @include respond-min($break-medium) {
        text-align: left;
    }
}

time, .postdate {
    color: $lesser-color;
    @include rem('font-size',$smalltext-size);

    a {
        color: $lesser-color;
        text-decoration: none;

        &:hover, &:focus {
            color: $lesser-color-hover;
            text-decoration: underline;
        }
    }
}

.post-options {
    @include rem('font-size',$smalltext-size);

    a {
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}


.navigation {
    width: 100%;
    margin-bottom: $gutter;
    padding: 0;
    list-style-type: none;
    clear: both;
    float: left;
    
    li {
        margin-right: 20px;
        float: left;
        
        a {
            white-space: nowrap;
        }
    }
    
}

#toggle-comments {
    width: 100%;
    padding: $gutter/2 0;
    text-align: center;
    display: block;
    text-decoration: none;
    background: #fff;
    @include border-radius();
    @include box-shadow(rgba(darken($border-color,20%),1) 0 1px 1px);

    @include respond-min($break-medium) {
        display: none;
    }
}

#comments-holder {
    display: none;
    margin-top: $gutter/2;

    &.toggle {
        display: block;
    }

    @include respond-min($break-medium) {
        padding: 0;
        padding-top: $gutter;
        margin: $gutter 0;
        display: block;
    }

    h3 {
        display: none;

        @include respond-min($break-medium) {
            color: $body-color;
            display: block;
        }
    }

    .commentlist {
        padding: 0;
        list-style-type: none;
        clear: both;
    }

    .comment-author {
        width: 100%;
        float: left;
        font-weight: bold;
        line-height: 32px;

        @include respond-min($break-medium) {
            margin-bottom: $gutter;
            font-weight: normal;
        }
    }

    .avatar {
        width: auto;
        height: auto;
        float: right;
        @include border-radius();
        @include box-shadow($default-box-shadow);

        @include respond-min($break-medium) {
            margin-right: $gutter/2;
            vertical-align: top;
            float: none;
        }
    }

    .comment, .trackback, .pingback {
        width: 100%;
        padding: $gutter 0;
        float: left;
        background: transparent;
        position: relative;
        border-bottom: 2px solid $border-color;

        .children .comment.depth-2 {
            margin-bottom: $gutter;
        }

        @include respond-min($break-medium) {
            padding: $gutter/2;
            margin: 0 0 $gutter/2 0;
            border: 1px solid $border-color;
            @include border-radius();
        }

        cite {
            font-style: normal;

            a {
                text-decoration: none;
                color: $lesser-color-hover;

                &:hover, &:focus {
                    text-decoration: underline;
                }
            }
        }

        .comment-meta {
            @include rem('font-size',$smalltext-size);

            @include respond-min($break-medium) {
                position: absolute;
                right: $gutter;
                top: 0;
                padding-top: 20px;
                line-height: 32px;
            }

            a {
                color: $lesser-color;
                text-decoration: none;

                &:hover, &:focus {
                    color: $lesser-color-hover;
                }
            }
        }
    }

    .comment-author-admin, .bypostauthor {
    }

    .children {
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;

        .comment {
            margin: 0;
            padding: $gutter/2 0 0 $gutter/2;
            border-bottom: none;
            border-top: 1px solid $border-color;

            @include respond-min($break-medium) {
                padding: $gutter/2;
                border-bottom: 1px solid $border-color;
            }
        }
    }

    .comment-reply-link {
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}

#respond {
    @extend .comment;
    margin-bottom: 0;

    h3 {
        margin-bottom: $gutter;
        color: $body-color;
    }
}

#comments-holder #respond {
    border-bottom: none;

    @include respond-min($break-medium) {
        border: 1px solid $border-color;
    }
}

/* Search results
=================================================================*/
.search-result {

    .page-header {
        margin-bottom: $gutter;
    }

    section {
        margin-bottom: $gutter;
        
        &:last-child {
            margin-bottom: 0;
        }

        h1, p {
            margin: 0;
        }

        h1 {
            font-weight: bold;
            @include rem('font-size',$body-size);
        }
    }
}

/* Images
=================================================================*/
.alignnone {
    @extend %postimage;

    @include respond-min($break-skinny) {
        width: auto;
        margin: $gutter $gutter $gutter 0;
    }
}

.aligncenter,
div.aligncenter {
    @extend %postimage;

    @include respond-min($break-skinny) {
        display: block;
        margin: $gutter auto;
    }
}

.alignright {
    @extend %postimage;

    @include respond-min($break-skinny) {
        width: auto;
        float:right;
        margin: 0 0 $gutter $gutter;
    }
}

.alignleft {
    @extend %postimage;

    @include respond-min($break-skinny) {
        width: auto;
        float: left;
        margin: 0 $gutter $gutter 0;
    }
}

a img.alignright {
    @extend %postimage;

    @include respond-min($break-skinny) {
        width: auto;
        float: right;
        margin: $gutter 0 $gutter $gutter;
    }
}

a img.alignnone {
    @extend %postimage;

    @include respond-min($break-skinny) {
        width: auto;
        margin: $gutter $gutter $gutter 0;
    }
}

a img.alignleft {
    @extend %postimage;

    @include respond-min($break-skinny) {
        width: auto;
        float: left;
        margin: $gutter $gutter $gutter 0;
    }
}

a img.aligncenter {
    @extend %postimage;

    @include respond-min($break-skinny) {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.wp-caption {
    @extend %postimage;
    background: #fff;
    border: 1px solid $border-color;
    padding: $gutter/2;
    text-align: center;
    margin: $gutter/2 0;
    @include border-radius();

    img {
        width: 100%;
        max-width: 100%;
        height: auto;
        border: 0 none;
        margin: 0 0 $gutter/2;
        padding: 0;
        display: block;

        @include respond-min($break-medium) {
            max-width: auto;
        }
    }

    @include respond-min($break-medium) {
        width: auto;
        max-width: none;
    }

    p.wp-caption-text {
        display: block;
        margin: $gutter/2 0 0 0;
        @include rem('font-size', $smalltext-size);
    }
}

.wp-caption.alignnone {

    @include respond-min($break-skinny) {
        margin: $gutter $gutter $gutter 0;
    }
}

.wp-caption.alignleft {

    @include respond-min($break-skinny) {
        margin: 0 $gutter $gutter 0;
    }
}

.wp-caption.alignright {

    @include respond-min($break-skinny) {
        margin: 0 0 $gutter $gutter;
    }
}

.post-thumbnail {
    @extend %postimage;

    @include respond-min($break-skinny) {
        width: auto;
        margin: $gutter 0;
    }
    
    @include respond-min($break-medium) {
        float: right;
        margin: 0 0 $gutter $gutter;
    }
}

/* Doormat
=================================================================*/
#doormat {
    background: #fff;
    border-top: 1px solid $border-color;

    .holder {
        padding: $gutter;

        @include respond-min($break-medium) {
            padding: $gutter 0;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}

/* Footer
=================================================================*/
footer {
    background: #fff;
    border-top: 1px solid $border-color;

    .holder {
        padding: $gutter;

        @include respond-min($break-medium) {
            padding: $gutter 0;
        }
    }
}

/* Forms
=================================================================*/
input {
    width: 100%;
    padding: $input-padding;
    line-height: $line-height;
    font-family: $body-font;
    @include rem('font-size',$body-size);
    
    @include respond-min($break-medium) {
        width: 50%;
        
        aside section & {
            width: 100%;
        }
    }
}

textarea {
    width: 100%;
    height: 120px;
    padding: $input-padding;
    line-height: $line-height;
    font-family: $body-font;
    @include rem('font-size',$body-size);
}

input[type=file] {
    width: 100%;
    padding: 0;
}

input[type=checkbox], input[type=radio] {
    width: auto;
    margin-right: $gutter/2;
}

input[type=submit] {
    width: 100%;
    
    @include respond-min($break-medium) {
        width: auto;
    }
}

#content form {
    position: relative;
    z-index: 1;

    fieldset {
        clear: both;
        padding: 0;

        @include respond-min($break-medium) {
            width: 100%;
            float: left;
        }
    }

    div {
        width: 100%;
        margin-bottom: $gutter;
        clear: both;
        
        &:last-child {
            margin-bottom: 0;
        }

        @include respond-min($break-medium) {
            float: left;
        }
        
        &.error {
            padding: $gutter/2;
            margin-bottom: 0;
            background: #f00;
            color: #fff;
            @include border-radius();
            @include border-top-left-radius(0);
            @include border-top-right-radius(0);
            @include box-shadow($default-box-shadow);
            
            @include respond-min($break-medium) {
                width: 50%;
            }
        }
        
        .textarea + div.error {
            width: 100%;
        }
    }

    label, .label {
        width: 100%;
        display: block;
        clear: both;

        &:hover, &:focus {
            cursor: pointer;
        }

        small {
            font-size: 100%;
        }
    }

    li {
        padding: 0;
        background: none;
        margin-right: 12px;
        @include inline-block;

        input {
            width: auto;
            margin-right: 2px;
        }

        label {
            width: auto;
            clear: none;
            display: inline;
        }
    }

    .req {
        font-family: $sec-font;
        color: $body-color;
        @include rem('font-size',$body-size);
    }

    .submit, #submit, #searchsubmit {
        width: 100%;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
/*
        border: none;
        color: #fff;
        border-top: 1px solid lighten($border-color,5%);
        border-right: 1px solid darken($border-color,3%);
        border-bottom: 1px solid darken($border-color,6%);
        border-left: 1px solid darken($border-color,3%);
        background-color: $border-color;
        @include background-image(linear-gradient($border-color, darken($border-color,10%)));
        @include border-radius();
        @include box-shadow($default-box-shadow, inset rgba(255,255,255,0.2) 0 1px 0, inset rgba(0,0,0,.1) 0 -1px 0);
        @include text-shadow(rgba(0,0,0,1) 0 1px 1px);
        @include rem('padding',12px 0);
*/

        @include respond-min($break-medium) {
            width: auto;
            /* @include rem('padding',8px 12px); */
        }

        &:active {
            position: relative;
            top: 1px;
        }

        &:hover, &:focus {
/*
            background-color: lighten($border-color,5%);
            @include background-image(linear-gradient(lighten($border-color,6%), lighten($border-color,2%)));
*/
        }
    }

    a.submit {
        @include inline-block;
    }
}

#screenReader
, #dialog-message
, #loading
{
    display: none;
}

/* Tables
=================================================================*/
table {
    width: 100%;
    margin: $gutter 0;
    border: 1px solid $border-color;

    tr {
    }

    th, td {
        text-align: left;
        vertical-align: top;
        border-bottom: 1px solid $border-color;
    }
}