/* Other margins
=================================================================*/
.m-0-a {
    margin: 0 auto;
}

/* Margin bottom
=================================================================*/
.mb-small {
    margin-bottom: $gutter-small;
}

.mb-skinny {
    margin-bottom: $gutter-skinny;
}

.mb {
    margin-bottom: $gutter;
}

.mb-large {
    margin-bottom: $gutter-large;
}

/* Margin top
=================================================================*/
.mt-small {
    margin-bottom: $gutter-small;
}

.mt-skinny {
    margin-bottom: $gutter-skinny;
}

.mt {
    margin-bottom: $gutter;
}

.mt-large {
    margin-bottom: $gutter-large;
}
