/* Font info */
$base-size: 16px;
$body-size: 14px;
$smalltext-size: 12px;
$line-height: 1.8;
$body-font: Arial, Verdana, sans-serif;
$sec-font: Georgia, "Times new roman", serif;


/* Headers */
$header-1: 2 * $body-size;
$header-2: 1.5 * $body-size;
$header-3: 1.17 * $body-size;
$header-4: 1 * $body-size;


/* The grid */
$width: 95%;
$max-width: 1152px;
$nr-of-columns: 8;


/* Sizes */
$gutter-small: 5px;
$gutter-skinny: 10px;
$gutter: 20px;
$gutter-large: 30px;


/* Mobile menu widths */
$mobile-menu-width: 85%;
$skinny-menu-width: 50%;


/* Colors */
$body-bg-color: #fff;
$body-color: #222;
$link-color: #0000ee;
$nav-bg-color: #fff;
$border-color: #eee;
$lesser-color: #828282;
$lesser-color-hover: #2c2c2c;


/* Defaults */
$default-border-radius: 3px;
$default-box-shadow: (rgba(0,0,0,.25) 0 1px 1px);
$default-text-shadow: (rgba(0,0,0,.45) 0 1px 1px);


/* Responsive breakpoints */
$break-skinny: 30.000em; /* 480px */
$break-medium: 48.000em; /* 768px */
$break-desktop: 62.000em; /* 992px */


/* Different paddings & margins */
$input-padding: 4px;