<a class="col-md-4 no-padding col-sm-6" href="{{ item.link }}">
    <div class="square">
        <div class="background" style="background-image:URL({{ item.thumbnail.src | resize(700, 700) }});"></div>
        <div class="content">
            <div class="vilt">
                <img src="{{ site.theme.link }}/static/img/vilt-empty-0.png"/>
            </div>
            <div class="vilt-title">
                {{ item.title }}
            </div>
        </div>
    </div>
</a>
