<form method="get" id="searchform" action="/">

    <fieldset>

        <input type="search" value="{{ searchterm }}" name="s" id="js-searchform" class="">

        <button type="submit" class="btn">
            Zoeken
        </button>

    </fieldset>

</form>
