// Main content on a page
.content {
    padding: 0;

    @media (min-width: $mq--lap) {
    }
}


// The content
.content__body {

    p,
    ul {
        margin: 0 0 pt(2);

        @media (min-width: $mq--lap) {
            margin-bottom: pt(4);
        }

        &:last-child {
        }
    }
}

code {
    padding-right: pt(1)
    padding-left: pt(1)
    display: inline-block;
    background: rgba($mute, .25);
    border-radius: $radius;
}
