// *
// Main content on a page
// *
.content {
    padding: 0;

    @media (min-width: $mq--lap) {
    }
}


// *
// The content
// *
.content__body {

    p,
    ul {
        margin: 0 0 $margin--skinny 0;

        @media (min-width: $mq--lap) {
            margin-bottom: $margin;
        }

        &:last-child {
        }
    }
}
