// *
// Site header
// *
.header {
    margin-bottom: $margin--skinny;
    border-bottom: 1px solid $border;

    @media (min-width: $lap) {
        margin-bottom: 0;
        background: $body-bg;
    }
}



// *
// Site logo
// *
.logo {
    width: 172px;
    height: 48px;
    display: block;
    transform: translate3d(0, 0, 0);
    
    @media (min-width: $palm) {
        left: 35%;
    }

    @media (min-width: $lap) {
        width: 156px;
        height: 87px;
        margin: 0 20px 0 0;
        float: left;
        position: static;
    }
}



// *
// Customer promise
// *
.cp {
    display: none;

    @media (min-width: $lap) {
        margin: 0;
        display: block;
        float: left;
    }
}
