// Container for comments
// -----------------------------------------------------------------
.comments-area {
    
}

#reply-title {
    margin: 0 0 $gutter;
}

// A comment, trackback, pingback or response
// -----------------------------------------------------------------
.comment,
.trackback,
.pingback,
#respond {
    width: 100%;
    padding: $gutter-skinny 0;
    position: relative;
    float: left;
    border-bottom: 2px solid $border-color;
    background: transparent;

    .children .comment.depth-2 {
        margin-bottom: $gutter;
        
        &:last-child {
            margin: 0;
        }
    }

    @include min-screen($lap) {
        margin: 0 0 $margin-skinny;
        padding: $gutter;
        border: 1px solid $border-color;
    }
}

#respond {
    margin-bottom: 0;
}

.fn {
    font-style: normal;

    a {
        color: $lesser-color-hover;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

// The comment body
// -----------------------------------------------------------------
.comment-body {
}

// The author name
// -----------------------------------------------------------------
.comment-author {
    width: 100%;
    float: left;
    font-weight: bold;
    line-height: 32px;

    @include min-screen($lap) {
        margin-bottom: $gutter;
        font-weight: normal;
    }
}

// The avatar
// -----------------------------------------------------------------
.avatar {
    width: auto;
    height: auto;
    float: right;
    border-radius: 0;
    box-shadow: $default-box-shadow;

    @include min-screen($lap) {
        margin-right: $gutter-skinny;
        vertical-align: top;
        float: none;
    }
}

// Text
// -----------------------------------------------------------------
.says {
    
}

// Comment meta info
// -----------------------------------------------------------------
.comment-meta {
    @include rem('font-size', $text-palm);

    @include min-screen($lap) {
        padding-top: 20px;
        position: absolute;
        top: 0;
        right: $gutter;
        line-height: 32px;
    }

    a {
        color: $lesser-color;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $lesser-color-hover;
        }
    }
}

.reply {
    
}

// The nr. of responses
// -----------------------------------------------------------------
.comments-title {
    margin: 0 0 $gutter;
}

.comment-list {
    @extend %remove-style;
}

.comment-author-admin,
.bypostauthor {
}

// Replies
// -----------------------------------------------------------------
.children {
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;

    .comment {
        margin: 0;
        padding: $gutter-skinny 0 0 $gutter-skinny;
        border-top: 1px solid $border-color;
        border-bottom: 0;

        @include min-screen($lap) {
            padding: $gutter-skinny;
            border-bottom: 1px solid $border-color;
        }
    }
}

// Link for replying
// -----------------------------------------------------------------
.comment-reply-link {
    @extend %hover-underline;
}

// Text
// -----------------------------------------------------------------
.logged-in-as {
    
}

.form-submit {
    @extend %formrow;
    margin: 0;
}
