// The menu
// -----------------------------------------------------------------
.mainmenu {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    transition: all .28s cubic-bezier(0.075, 0.085, 0.075, 1.175);
    transform: translate3d(0, 100%, 0);
    
    .no-csstransforms3d & {
        top: 100%;
    }
    
    .js-toggle-menu & {
        transform: translate3d(0, 0, 0);
    }
    
    .no-csstransforms3d.js-toggle-menu & {
        margin-top: -100%;
        top: auto;
    }
    
    .touch.no-overflow-scroll.js-active-menu & {
    }

    @include min-screen($palm) {
    }

    @include min-screen($lap) {
        width: 100%;
        height: auto;
        margin-bottom: $margin;
        float: left;
        position: static;
        border: 0;
        box-shadow: none;
        transform: none;
        border-bottom: 1px solid $border-color;
        transform: none;

        .no-csstransforms3d & {
        }
    }
}


// Unordered list
// -----------------------------------------------------------------
.main-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    background: $nav-bg-color;
    background: rgba($nav-bg-color, .96);
    border-top: 1px solid $border-color;

    @include min-screen($lap) {
        border-top: 0;
    }
}


// A single item
// -----------------------------------------------------------------
.menu-item {
    width: 50%;
    position: relative;
    display: block;
    float: left;
    
    &:nth-child(2n+1) {
        border-right: 1px solid $border-color;
    }

    @include min-screen($lap) {
        width: auto;
        float: left;
        
        &:nth-child(2n+1) {
            border-right: 0;
        }
    }
    
    > a {
        padding: $padding-skinny $padding-skinny;
        position: relative;
        display: block;
        border-bottom: 1px solid $border-color;
        text-decoration: none;
        transition: all .15s ease-out;

        @include min-screen($palm) {
            padding: $padding-skinny;
            border-bottom: 0;
        }

        @include min-screen($lap) {
            padding: $padding-skinny $padding;
            float: left;
        }

        &:hover,
        &:focus {
            background: $border-color;

            @include min-screen($lap) {
            }
        }
    }
}

.show-sub {
    display: block;
    
    > a {
        background: $border-color;
    }
}


// For nav feedback
// -----------------------------------------------------------------
.current_page_item,
.current-menu-item,
.current-page-ancestor,
.current_page_parent {

    a {
    }

    @include min-screen($lap) {
        background: $border-color;
        box-shadow: none;
        @include background-image(none);
    }
}


// The current item
// -----------------------------------------------------------------
.current_page_item {

    a {

        &:after {
            @extend %navfeedback;
            margin-top: -8px;
            top: 50%;
            right: 0;
            border-right: 8px solid $border-color;

            @include min-screen($lap) {
                display: none;
            }
        }
    }

    @include min-screen($lap) {
    
        &:after {
            display: none;
        }
    }

    .sub-menu {

        a {

            &:after {
                display: none;
            }
        }
    }
}

.current_page_ancestor {

    @include min-screen($lap) {
    
        a {
        }
    }
}

.sub-enter {

    > a {         
        @include min-screen($lap) {
            background: $border-color;
        }
    }
}


// The sub-menu menu
// -----------------------------------------------------------------
.sub-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 10000;
    display: none;
    float: left;
    border: 0;
    background: #fff;
    
    @include min-screen($lap) {
        position: absolute;
        top: 100%;
        left: 0;
        border: 1px solid $border-color;
        background: #fff;
    }

    .current_page_parent &,
    .current-menu-parent & {
        display: block;
    }

    .current_page_ancestor &,
    .current-menu-item & {
        display: block;
        
        @include min-screen($lap) {
            display: none;
        }
    }

    .current_page_ancestor .menu-item & {
        display: none;
    }

    .current_page_ancestor .current_page_ancestor & {
        display: block;
    }
    
    // When hoverin
    .show-sub & {
        display: block;
    }

    .menu-item {    
        width: 100%;

        a {
            width: 100%;
            float: left;
            border-bottom: 1px solid $border-color;

            @include min-screen($lap) {
                padding: 8px $gutter-skinny;
                color: $body-color;
                border: 0;
                border-bottom: 1px solid $border-color;
                white-space: nowrap;
            }
            
            &:hover,
            &:focus {
                background: $border-color;
            }
        }
        
        &:last-child {
            
            a {
            
                @include min-screen($lap) {
                    border: 0;
                }
            }
        }
    }

    &.active-sub {
        display: block !important;
        float: left;
    }

    &.closed-sub {
        display: none !important;
    }
}


// To show or hide the submenu on small devices
// -----------------------------------------------------------------
.toggle-sub {
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1200;
    display: block;
    border-left: 1px solid $border-color;
    cursor: pointer;
    
    @include min-screen($lap) {
        display: none;
    }
    
    &:after {
        width: 0;
        height: 0;
        margin-top: -4px;
        margin-left: -8px;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        border: 8px solid transparent;
        border-top: 8px solid #000;
    }
}

.toggle-sub-close {
    
    &:after {
        margin-top: -12px;
        border: 8px solid transparent;
        border-bottom: 8px solid #000;
    }
}
