// The menu
// -----------------------------------------------------------------
.mainmenu {
    width: $mobile-menu-width;
    height: 100%;
    position: absolute;
    top: 0;
    left: -$mobile-menu-width;
    z-index: 1000;
    border-right: 1px solid $border-color;
    background: $nav-bg-color;
    transform: perspective(100);
    backface-visibility: hidden;
    
    .csstransforms3d & {
        left: 0;
        transform: translate3d(-100%, 0, 0);
    }

    .js-active-menu & {
        overflow: auto;
        overflow-x: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;

        @include min-screen($palm) {
            overflow: visible;
        }
    }
    
    .touch.no-overflow-scroll.js-active-menu & {
        overflow: visible;
    }

    @include min-screen($palm) {
        width: $skinny-menu-width;
        left: -$skinny-menu-width;
        z-index: 10;
    }

    @include min-screen($lap) {
        width: 100%;
        height: auto;
        float: left;
        position: static;
        border: 0;
        box-shadow: none;

        .csstransforms3d & {
            transform: translate3d(0, 0, 0);
        }
    }
}






// Unordered list
// -----------------------------------------------------------------
.main-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    border-top: 1px solid $border-color;

    @include min-screen($lap) {
        border-top: 0;
    }
}






// A single item
// -----------------------------------------------------------------
.menu-item {
    width: 100%;
    position: relative;
    display: block;
    float: left;

    @include min-screen($lap) {
        width: auto;
        float: left;
    }
    
    > a {
        padding: $gutter-skinny $gutter;
        position: relative;
        display: block;
        border-bottom: 1px solid $border-color;
        text-decoration: none;
        transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: all;

        @include min-screen($palm) {
            padding: $gutter-skinny;
            border-bottom: 0;
        }

        @include min-screen($lap) {
            padding: $gutter-skinny $gutter;
            float: left;
        }

        &:hover,
        &:focus {
            background: $border-color;

            @include min-screen($lap) {
            }
        }
    }
}






// For nav feedback
// -----------------------------------------------------------------
.current_page_item,
.current-menu-item,
.current-page-ancestor,
.current_page_parent {

    a {
    }

    @include min-screen($lap) {
        background: $border-color;
        box-shadow: none;
        @include background-image(none);
    }
}






// The current item
// -----------------------------------------------------------------
.current_page_item {

    a {

        &:after {
            @extend %navfeedback;
            margin-top: -8px;
            top: 50%;
            right: 0;
            border-right: 8px solid $border-color;

            @include min-screen($lap) {
                display: none;
            }
        }
    }

    @include min-screen($lap) {
    
        &:after {
            display: none;
        }
    }

    .flyout {

        a {

            &:after {
                display: none;
            }
        }
    }
}

.current_page_ancestor {

    @include min-screen($lap) {
    
        a {
        }
    }
}

.sub-enter {

    > a {         
        @include min-screen($lap) {
            background: $border-color;
        }
    }
}






// The flyout menu
// -----------------------------------------------------------------
.flyout {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 10000;
    display: none;
    float: left;
    border: 0;
    background: #fff;
    
    @include min-screen($lap) {
        position: absolute;
        top: 100%;
        left: 0;
        border: 1px solid $border-color;
        background: #fff;
    }

    .current_page_parent &,
    .current-menu-parent & {
        display: block;
    }

    .current_page_ancestor &,
    .current-menu-item & {
        display: block;
        
        @include min-screen($lap) {
            display: none;
        }
    }

    .current_page_ancestor .menu-item & {
        display: none;
    }

    .current_page_ancestor .current_page_ancestor & {
        display: block;
    }

    .menu-item {    
        width: 100%;

        a {
            width: 100%;
            float: left;
            border-bottom: 1px solid $border-color;

            @include min-screen($lap) {
                padding: 8px $gutter-skinny;
                color: $body-color;
                border: 0;
                border-bottom: 1px solid $border-color;
                white-space: nowrap;
            }
            
            &:hover,
            &:focus {
                background: $border-color;
            }
        }
        
        &:last-child {
            
            a {
            
                @include min-screen($lap) {
                    border: 0;
                }
            }
        }
    }

    &.active-sub {
        display: block !important;
        float: left;
    }

    &.closed-sub {
        display: none !important;
    }
}






// To show or hide the submenu on small devices
// -----------------------------------------------------------------
.toggle-sub {
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1200;
    display: block;
    border-left: 1px solid $border-color;
    cursor: pointer;
    
    @include min-screen($lap) {
        display: none;
    }
    
    &:after {
        width: 0;
        height: 0;
        margin-top: -4px;
        margin-left: -8px;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        border: 8px solid transparent;
        border-top: 8px solid #000;
    }
}

.toggle-sub-close {
    
    &:after {
        margin-top: -12px;
        border: 8px solid transparent;
        border-bottom: 8px solid #000;
    }
}
