// Section
// -----------------------------------------------------------------
.mobile-header {
    width: 100%;
    height: 70px;
    padding: 0 $gutter-skinny;
    position: absolute;
    margin-top: -70px;
    z-index: 1000;
    text-align: center;
    transform: translate3d(0, 0, 0);

    @include min-screen($lap) {
        display: none;
    }
}


// The toggler
// -----------------------------------------------------------------    
.mobile-toggler {
    padding: $gutter-small $gutter-skinny;
    display: inline-block;
    text-decoration: none;
    background: rgba(#ddd, .85);
    border-radius: $default-border-radius;
    box-shadow: rgba(#000, .2) 0 1px 0;
    transition: all .25s ease;
    opacity: 0;
    
    .start-animatin & {
        opacity: 1;
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }
    
    span {
        margin-left: $margin-small;
        content: '';
        display: inline-block;
        @include sprite($sprite-menu-toggle-up, false, position);
        transition: all .25s ease;
        
        .js-toggle-menu & {
            transform: rotate(180deg);
        }
        
        
    }
}


// Class for hiding stuff on mobile
// -----------------------------------------------------------------
.mob-hide {
    display: none;

    @include min-screen($lap) {
        display: block;
    }
}
