// Section
// -----------------------------------------------------------------
.mobile-header {
    width: 100%;
    height: auto;
    padding: 0 $gutter-skinny;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid $border-color;
    transform: translate3d(0, 0, 0);

    @include min-screen($lap) {
        display: none;
    }
}

// Unordered list
// -----------------------------------------------------------------
.mobile-header-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    @include inline-block;
}

// Single item
// -----------------------------------------------------------------
.mobile-header-menuitem {
    @extend %remove-style;
    @include inline-block;
    
    a {
        padding: $gutter-skinny;
        display: block;
        text-decoration: none;

        &:active,
        &:focus,
        &:hover {
            text-decoration: none;
        }
    }
}

// Jump to content
// -----------------------------------------------------------------
#content-toggler {
    display: none;
}

// Class for hiding stuff on mobile
// -----------------------------------------------------------------
.mob-hide {
    display: none;

    @include min-screen($lap) {
        display: block;
    }
}
