// Section
// -----------------------------------------------------------------
.mobile-header {
    width: 100%;
    height: auto;
    padding: 0 $gutter-skinny;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid $border-color;
    transform: translate3d(0, 0, 0);

    @include min-screen($lap) {
        display: none;
    }
}


// The toggler
// -----------------------------------------------------------------    
.mobile-toggler {
    padding: $gutter-skinny;
    display: block;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}


// Class for hiding stuff on mobile
// -----------------------------------------------------------------
.mob-hide {
    display: none;

    @include min-screen($lap) {
        display: block;
    }
}
