// The form
// -----------------------------------------------------------------
.searchform {
    width: 100%;
    padding: $gutter-skinny;
    display: none;
    clear: both;

    // When in nav
    // -----------------------------------------------------------------
    nav & {
        display: block;
    }

    // When in content
    // -----------------------------------------------------------------
    .content & {
        padding: 0;
        display: block;
    }

    // When in header
    // -----------------------------------------------------------------
    .header & {

        @include min-screen($lap) {
            width: 20%;
            padding: 0;
            float: right;
            clear: none;
            display: block;
            background: transparent;
            text-align: left;
        }

        // The search input
        // -----------------------------------------------------------------
        #s {
            width: 100%;
            clear: both;

            @include min-screen($lap) {
                width: 100%;
            }
        }
    }
}






// Search form fieldset
// -----------------------------------------------------------------
.searchform-container {
    margin: 0;
    padding: 0;
    line-height: 40px;
}
