//
// Images used in posts
//
%postimage {
    width: 100%;
    height: auto;
    margin: $margin--deca 0;
    display: block;
    border-radius: 0;
    box-shadow: $shadow;
}



//
// Arrow for navfeedback
//
%navfeedback {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    border: 8px solid transparent;
}



//
// Row in a form
//
%formrow {
    width: 100%;
    margin-bottom: $margin--deca;
    float: left;
    clear: both;

    @media (min-width: $mq--lap) {
        margin-bottom: $margin--kilo;
    }

    &:last-child {
    }

    &.error {
        margin-bottom: 0;
        padding: $padding--deca;
        border-radius: $radius;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        box-shadow: $shadow;
        background: $alert;
        color: $color--white;

        @media (min-width: $mq--lap) {
            width: 50%;
        }
    }

    .textarea + .error {
        width: 100%;
    }
}



//
// Summary
//
%post {
    width: 100%;
    margin-bottom: $margin--kilo;
    float: left;
    opacity: 1;
    transition: opacity .2s ease;

    &:last-child {
        margin-bottom: 0;
    }

    p {
        margin: 0;
    }

    ul {
        padding-left: 40px;
    }

    .post-thumb {
        display: none;

        @media (min-width: $mq--lap) {
            width: 87px;
            height: 68px;
            margin-right: $margin--deca;
            position: relative;
            display: block;
            float: left;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 0;
            }
        }
    }
}
