// Neat grid docs:
// https://neat.bourbon.io/docs/latest/
$neat-grid: (
    columns: 12,
    gutter: pt(2),
);


// Generate grid container classes
@for $i from 1 through 12 {

    .l-g#{$i} {

        > * {

            @media (min-width: $mq--lap) {
                @include grid-column($i);
            }
        }
    }
}


// Container element
.container {
    @include grid-container;
    padding-right: pt(2);
    padding-left: pt(2);

    @media (min-width: $mq--lap) {
        max-width: $site--max-width;
        margin: 0 auto;
        padding-right: 0;
        padding-left: 0;
    }
}


// Layout block container
// Use as a container for grids inside a container element
.l-container {
    @include grid-container;

    @media (min-width: $mq--lap) {
        @include grid-collapse();
    }

    // Make it a flex!
    &--flex {

        > * {

            @media (min-width: $mq--lap) {
                display: flex;
                align-items: flex-start;
            }
        }
    }
}


// Layout block: single contentblock
.l-c {

    > * {

        @media (min-width: $mq--lap) {
            @include grid-column(8);
        }
    }
}


// Layout block: content + sidebar
.l-cs {

    > *:nth-child(1) {

        @media (min-width: $mq--lap) {
            @include grid-column(8);
        }
    }

    > *:nth-child(2) {

        @media (min-width: $mq--lap) {
            @include grid-column(4);
        }
    }
}
