$neat-grid: (
    columns: 12,
    gutter: pt(2),
);


// Generate grid container classes
@for $i from 1 through 12 {

    .l-g#{$i} {

        > * {
            @include grid-column(12);

            @media (min-width: $mq--lap) {
                @include grid-column($i);
            }
        }
    }
}


// Container element
.container {
    @include grid-container;

    @media (min-width: $mq--lap) {
        width: $site--width;
        max-width: $site--max-width;
        margin: 0 auto;
        padding-right: 0;
        padding-left: 0;
    }
}


// Single contentblock grid pattern
.l-c {

    > * {
        @include grid-column(12);

        @media (min-width: $mq--lap) {
            @include grid-column(8);
        }
    }
}


// Content + sidebar
.l-cs {

    > *:nth-child(1) {
        @include grid-column(12);

        @media (min-width: $mq--lap) {
            @include grid-column(8);
        }
    }

    > *:nth-child(2) {
        @include grid-column(12);

        @media (min-width: $mq--lap) {
            @include grid-column(4);
        }
    }
}
