.row {
  width: 100%;
  float: left; }
  .flexbox .row, .flexboxlegacy .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  .row > .col {
    width: 100%;
    margin-bottom: 28px;
    float: left; }
    .flexbox .row > .col, .flexboxlegacy .row > .col {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
    @media screen and (min-width: 46.875em) {
      .row > .col {
        margin-right: 2.1875%; }
        .flexbox .row > .col, .flexboxlegacy .row > .col {
          margin-right: 0;
          -webkit-box-flex: 1;
          -webkit-flex: 1 1 0;
          -moz-flex: 1 1 0;
          -ms-flex: 1 1 0;
          flex: 1 1 0; } }
    @media screen and (min-width: 46.875em) {
      .row > .col:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 46.875em) {
    .row .col-1 {
      width: 10.58594%; }
      .flexbox .row .col-1, .flexboxlegacy .row .col-1 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 10.58594%;
        -moz-flex: 0 0 10.58594%;
        -ms-flex: 0 0 10.58594%;
        flex: 0 0 10.58594%; } }
  @media screen and (min-width: 46.875em) {
    .row .col-2 {
      width: 23.35938%; }
      .flexbox .row .col-2, .flexboxlegacy .row .col-2 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 23.35938%;
        -moz-flex: 0 0 23.35938%;
        -ms-flex: 0 0 23.35938%;
        flex: 0 0 23.35938%; } }
  @media screen and (min-width: 46.875em) {
    .row .col-3 {
      width: 36.13281%; }
      .flexbox .row .col-3, .flexboxlegacy .row .col-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 36.13281%;
        -moz-flex: 0 0 36.13281%;
        -ms-flex: 0 0 36.13281%;
        flex: 0 0 36.13281%; } }
  @media screen and (min-width: 46.875em) {
    .row .col-4 {
      width: 48.90625%; }
      .flexbox .row .col-4, .flexboxlegacy .row .col-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 48.90625%;
        -moz-flex: 0 0 48.90625%;
        -ms-flex: 0 0 48.90625%;
        flex: 0 0 48.90625%; } }
  @media screen and (min-width: 46.875em) {
    .row .col-5 {
      width: 61.67969%; }
      .flexbox .row .col-5, .flexboxlegacy .row .col-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 61.67969%;
        -moz-flex: 0 0 61.67969%;
        -ms-flex: 0 0 61.67969%;
        flex: 0 0 61.67969%; } }
  @media screen and (min-width: 46.875em) {
    .row .col-6 {
      width: 74.45313%; }
      .flexbox .row .col-6, .flexboxlegacy .row .col-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 74.45313%;
        -moz-flex: 0 0 74.45313%;
        -ms-flex: 0 0 74.45313%;
        flex: 0 0 74.45313%; } }
  @media screen and (min-width: 46.875em) {
    .row .col-7 {
      width: 87.22656%; }
      .flexbox .row .col-7, .flexboxlegacy .row .col-7 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 87.22656%;
        -moz-flex: 0 0 87.22656%;
        -ms-flex: 0 0 87.22656%;
        flex: 0 0 87.22656%; } }
  @media screen and (min-width: 46.875em) {
    .row .col-8 {
      width: 100%; }
      .flexbox .row .col-8, .flexboxlegacy .row .col-8 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -moz-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%; } }
  @media screen and (min-width: 30em) and (max-width: 46.875em) {
    .flexbox .row .col-palm-1, .flexboxlegacy .row .col-palm-1 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 10.58594%;
      -moz-flex: 0 0 10.58594%;
      -ms-flex: 0 0 10.58594%;
      flex: 0 0 10.58594%; } }
  @media screen and (min-width: 30em) and (max-width: 46.875em) {
    .flexbox .row .col-palm-2, .flexboxlegacy .row .col-palm-2 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 23.35938%;
      -moz-flex: 0 0 23.35938%;
      -ms-flex: 0 0 23.35938%;
      flex: 0 0 23.35938%; } }
  @media screen and (min-width: 30em) and (max-width: 46.875em) {
    .flexbox .row .col-palm-3, .flexboxlegacy .row .col-palm-3 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 36.13281%;
      -moz-flex: 0 0 36.13281%;
      -ms-flex: 0 0 36.13281%;
      flex: 0 0 36.13281%; } }
  @media screen and (min-width: 30em) and (max-width: 46.875em) {
    .flexbox .row .col-palm-4, .flexboxlegacy .row .col-palm-4 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 48.90625%;
      -moz-flex: 0 0 48.90625%;
      -ms-flex: 0 0 48.90625%;
      flex: 0 0 48.90625%; } }
  @media screen and (min-width: 30em) and (max-width: 46.875em) {
    .flexbox .row .col-palm-5, .flexboxlegacy .row .col-palm-5 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 61.67969%;
      -moz-flex: 0 0 61.67969%;
      -ms-flex: 0 0 61.67969%;
      flex: 0 0 61.67969%; } }
  @media screen and (min-width: 30em) and (max-width: 46.875em) {
    .flexbox .row .col-palm-6, .flexboxlegacy .row .col-palm-6 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 74.45313%;
      -moz-flex: 0 0 74.45313%;
      -ms-flex: 0 0 74.45313%;
      flex: 0 0 74.45313%; } }
  @media screen and (min-width: 30em) and (max-width: 46.875em) {
    .flexbox .row .col-palm-7, .flexboxlegacy .row .col-palm-7 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 87.22656%;
      -moz-flex: 0 0 87.22656%;
      -ms-flex: 0 0 87.22656%;
      flex: 0 0 87.22656%; } }
  @media screen and (min-width: 30em) and (max-width: 46.875em) {
    .flexbox .row .col-palm-8, .flexboxlegacy .row .col-palm-8 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -moz-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; } }
  @media screen and (min-width: 46.875em) and (max-width: 60.625em) {
    .row .col-lap-1 {
      width: 10.58594%; }
      .flexbox .row .col-lap-1, .flexboxlegacy .row .col-lap-1 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 10.58594%;
        -moz-flex: 0 0 10.58594%;
        -ms-flex: 0 0 10.58594%;
        flex: 0 0 10.58594%; } }
  @media screen and (min-width: 46.875em) and (max-width: 60.625em) {
    .row .col-lap-2 {
      width: 23.35938%; }
      .flexbox .row .col-lap-2, .flexboxlegacy .row .col-lap-2 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 23.35938%;
        -moz-flex: 0 0 23.35938%;
        -ms-flex: 0 0 23.35938%;
        flex: 0 0 23.35938%; } }
  @media screen and (min-width: 46.875em) and (max-width: 60.625em) {
    .row .col-lap-3 {
      width: 36.13281%; }
      .flexbox .row .col-lap-3, .flexboxlegacy .row .col-lap-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 36.13281%;
        -moz-flex: 0 0 36.13281%;
        -ms-flex: 0 0 36.13281%;
        flex: 0 0 36.13281%; } }
  @media screen and (min-width: 46.875em) and (max-width: 60.625em) {
    .row .col-lap-4 {
      width: 48.90625%; }
      .flexbox .row .col-lap-4, .flexboxlegacy .row .col-lap-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 48.90625%;
        -moz-flex: 0 0 48.90625%;
        -ms-flex: 0 0 48.90625%;
        flex: 0 0 48.90625%; } }
  @media screen and (min-width: 46.875em) and (max-width: 60.625em) {
    .row .col-lap-5 {
      width: 61.67969%; }
      .flexbox .row .col-lap-5, .flexboxlegacy .row .col-lap-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 61.67969%;
        -moz-flex: 0 0 61.67969%;
        -ms-flex: 0 0 61.67969%;
        flex: 0 0 61.67969%; } }
  @media screen and (min-width: 46.875em) and (max-width: 60.625em) {
    .row .col-lap-6 {
      width: 74.45313%; }
      .flexbox .row .col-lap-6, .flexboxlegacy .row .col-lap-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 74.45313%;
        -moz-flex: 0 0 74.45313%;
        -ms-flex: 0 0 74.45313%;
        flex: 0 0 74.45313%; } }
  @media screen and (min-width: 46.875em) and (max-width: 60.625em) {
    .row .col-lap-7 {
      width: 87.22656%; }
      .flexbox .row .col-lap-7, .flexboxlegacy .row .col-lap-7 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 87.22656%;
        -moz-flex: 0 0 87.22656%;
        -ms-flex: 0 0 87.22656%;
        flex: 0 0 87.22656%; } }
  @media screen and (min-width: 46.875em) and (max-width: 60.625em) {
    .row .col-lap-8 {
      width: 100%; }
      .flexbox .row .col-lap-8, .flexboxlegacy .row .col-lap-8 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -moz-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%; } }
  @media screen and (min-width: 60.625em) and (max-width: 73.125em) {
    .row .col-desk-1 {
      width: 10.58594%; }
      .flexbox .row .col-desk-1, .flexboxlegacy .row .col-desk-1 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 10.58594%;
        -moz-flex: 0 0 10.58594%;
        -ms-flex: 0 0 10.58594%;
        flex: 0 0 10.58594%; } }
  @media screen and (min-width: 60.625em) and (max-width: 73.125em) {
    .row .col-desk-2 {
      width: 23.35938%; }
      .flexbox .row .col-desk-2, .flexboxlegacy .row .col-desk-2 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 23.35938%;
        -moz-flex: 0 0 23.35938%;
        -ms-flex: 0 0 23.35938%;
        flex: 0 0 23.35938%; } }
  @media screen and (min-width: 60.625em) and (max-width: 73.125em) {
    .row .col-desk-3 {
      width: 36.13281%; }
      .flexbox .row .col-desk-3, .flexboxlegacy .row .col-desk-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 36.13281%;
        -moz-flex: 0 0 36.13281%;
        -ms-flex: 0 0 36.13281%;
        flex: 0 0 36.13281%; } }
  @media screen and (min-width: 60.625em) and (max-width: 73.125em) {
    .row .col-desk-4 {
      width: 48.90625%; }
      .flexbox .row .col-desk-4, .flexboxlegacy .row .col-desk-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 48.90625%;
        -moz-flex: 0 0 48.90625%;
        -ms-flex: 0 0 48.90625%;
        flex: 0 0 48.90625%; } }
  @media screen and (min-width: 60.625em) and (max-width: 73.125em) {
    .row .col-desk-5 {
      width: 61.67969%; }
      .flexbox .row .col-desk-5, .flexboxlegacy .row .col-desk-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 61.67969%;
        -moz-flex: 0 0 61.67969%;
        -ms-flex: 0 0 61.67969%;
        flex: 0 0 61.67969%; } }
  @media screen and (min-width: 60.625em) and (max-width: 73.125em) {
    .row .col-desk-6 {
      width: 74.45313%; }
      .flexbox .row .col-desk-6, .flexboxlegacy .row .col-desk-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 74.45313%;
        -moz-flex: 0 0 74.45313%;
        -ms-flex: 0 0 74.45313%;
        flex: 0 0 74.45313%; } }
  @media screen and (min-width: 60.625em) and (max-width: 73.125em) {
    .row .col-desk-7 {
      width: 87.22656%; }
      .flexbox .row .col-desk-7, .flexboxlegacy .row .col-desk-7 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 87.22656%;
        -moz-flex: 0 0 87.22656%;
        -ms-flex: 0 0 87.22656%;
        flex: 0 0 87.22656%; } }
  @media screen and (min-width: 60.625em) and (max-width: 73.125em) {
    .row .col-desk-8 {
      width: 100%; }
      .flexbox .row .col-desk-8, .flexboxlegacy .row .col-desk-8 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -moz-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%; } }
  @media screen and (min-width: 73.125em) and (max-width: 89.375em) {
    .row .col-wall-1 {
      width: 10.58594%; }
      .flexbox .row .col-wall-1, .flexboxlegacy .row .col-wall-1 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 10.58594%;
        -moz-flex: 0 0 10.58594%;
        -ms-flex: 0 0 10.58594%;
        flex: 0 0 10.58594%; } }
  @media screen and (min-width: 73.125em) and (max-width: 89.375em) {
    .row .col-wall-2 {
      width: 23.35938%; }
      .flexbox .row .col-wall-2, .flexboxlegacy .row .col-wall-2 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 23.35938%;
        -moz-flex: 0 0 23.35938%;
        -ms-flex: 0 0 23.35938%;
        flex: 0 0 23.35938%; } }
  @media screen and (min-width: 73.125em) and (max-width: 89.375em) {
    .row .col-wall-3 {
      width: 36.13281%; }
      .flexbox .row .col-wall-3, .flexboxlegacy .row .col-wall-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 36.13281%;
        -moz-flex: 0 0 36.13281%;
        -ms-flex: 0 0 36.13281%;
        flex: 0 0 36.13281%; } }
  @media screen and (min-width: 73.125em) and (max-width: 89.375em) {
    .row .col-wall-4 {
      width: 48.90625%; }
      .flexbox .row .col-wall-4, .flexboxlegacy .row .col-wall-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 48.90625%;
        -moz-flex: 0 0 48.90625%;
        -ms-flex: 0 0 48.90625%;
        flex: 0 0 48.90625%; } }
  @media screen and (min-width: 73.125em) and (max-width: 89.375em) {
    .row .col-wall-5 {
      width: 61.67969%; }
      .flexbox .row .col-wall-5, .flexboxlegacy .row .col-wall-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 61.67969%;
        -moz-flex: 0 0 61.67969%;
        -ms-flex: 0 0 61.67969%;
        flex: 0 0 61.67969%; } }
  @media screen and (min-width: 73.125em) and (max-width: 89.375em) {
    .row .col-wall-6 {
      width: 74.45313%; }
      .flexbox .row .col-wall-6, .flexboxlegacy .row .col-wall-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 74.45313%;
        -moz-flex: 0 0 74.45313%;
        -ms-flex: 0 0 74.45313%;
        flex: 0 0 74.45313%; } }
  @media screen and (min-width: 73.125em) and (max-width: 89.375em) {
    .row .col-wall-7 {
      width: 87.22656%; }
      .flexbox .row .col-wall-7, .flexboxlegacy .row .col-wall-7 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 87.22656%;
        -moz-flex: 0 0 87.22656%;
        -ms-flex: 0 0 87.22656%;
        flex: 0 0 87.22656%; } }
  @media screen and (min-width: 73.125em) and (max-width: 89.375em) {
    .row .col-wall-8 {
      width: 100%; }
      .flexbox .row .col-wall-8, .flexboxlegacy .row .col-wall-8 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -moz-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%; } }
  @media screen and (min-width: 46.875em) {
    .row .col-push-1 {
      margin-left: 14.41406%; } }
  @media screen and (min-width: 46.875em) {
    .row .col-push-2 {
      margin-left: 26.64063%; } }
  @media screen and (min-width: 46.875em) {
    .row .col-push-3 {
      margin-left: 38.86719%; } }
  @media screen and (min-width: 46.875em) {
    .row .col-push-4 {
      margin-left: 51.09375%; } }
  @media screen and (min-width: 46.875em) {
    .row .col-push-5 {
      margin-left: 63.32031%; } }
  @media screen and (min-width: 46.875em) {
    .row .col-push-6 {
      margin-left: 75.54688%; } }
  @media screen and (min-width: 46.875em) {
    .row .col-push-7 {
      margin-left: 87.77344%; } }
  @media screen and (min-width: 46.875em) {
    .row .col-push-8 {
      margin-left: 100%; } }

.no-margin {
  margin-right: 0; }

.plus-margin {
  margin-right: 2.1875%; }

html {
  font-family: 'wrist'; }

* html {
  font-family: 'desk'; }

* + html {
  font-family: 'desk'; }

@media \0screen {
  html {
    font-family: 'desk'; } }
@media screen and (min-width: 30em) {
  html {
    font-family: 'palm'; } }
@media screen and (min-width: 46.875em) {
  html {
    font-family: 'lap'; } }
@media screen and (min-width: 60.625em) {
  html {
    font-family: 'desk'; } }
@media screen and (min-width: 89.375em) {
  html {
    font-family: 'cinema'; } }
/* normalize.scss 2.2.0+normalize.2.1.3 | MIT/GPLv2 License | bit.ly/normalize-with-compass */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Improve appearance and consistency with IE 6/7.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word; }

html {
  font-size: 1.14286; }
  html.active-menu {
    height: 100%;
    overflow: hidden; }
  html.touch.no-overflow-scroll.active-menu {
    overflow: visible; }

body {
  background: white;
  font: 14px/2.07985 Arial, Verdana, sans-serif;
  color: #222222; }
  .active-menu body {
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .touch.no-overflow-scroll.active-menu body {
    overflow: visible; }

.container {
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
  overflow: hidden;
  opacity: 0;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .025s;
  transition-duration: .025s;
  -webkit-transition-property: opacity;
  transition-property: opacity; }
  .active-menu .container {
    overflow: hidden; }
  .touch.no-overflow-scroll.active-menu .container {
    overflow: visible; }

#content-toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 85%;
  z-index: 10000;
  opacity: 0;
  background: white; }
  @media screen and (min-width: 30em) {
    #content-toggle {
      left: 50%; } }

.container-transition {
  width: 100%;
  height: 100%;
  float: left;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-property: all;
  transition-property: all; }
  .touch.no-overflow-scroll .container-transition {
    height: auto; }
  .toggle-menu .container-transition {
    position: relative;
    left: 85%; }
    @media screen and (min-width: 30em) {
      .toggle-menu .container-transition {
        left: 50%; } }
    @media screen and (min-width: 46.875em) {
      .toggle-menu .container-transition {
        left: 0; } }
  .csstransforms3d.toggle-menu .container-transition {
    left: 0;
    -webkit-transform: translate3d(85%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(85%, 0, 0) scale3d(1, 1, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .csstransforms3d.toggle-menu .container-transition .divider {
      -webkit-transform-style: flat;
      transform-style: flat; }
    @media screen and (min-width: 30em) {
      .csstransforms3d.toggle-menu .container-transition {
        -webkit-transform: translate3d(50%, 0, 0) scale3d(1, 1, 1);
        transform: translate3d(50%, 0, 0) scale3d(1, 1, 1); } }
    @media screen and (min-width: 46.875em) {
      .csstransforms3d.toggle-menu .container-transition {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); } }

a {
  color: #0000ee;
  text-decoration: underline; }
  a:hover, a:focus {
    text-decoration: none; }

.divider {
  width: 100%;
  float: left;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: flat;
  transform-style: flat; }

.core {
  margin: 0 auto;
  padding: 28px;
  clear: both; }
  @media screen and (min-width: 46.875em) {
    .core {
      width: 95%;
      max-width: 1280px;
      padding: 28px 0;
      position: relative; } }

.core-header {
  z-index: 1200; }

.core-content {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0; }
  @media screen and (min-width: 46.875em) {
    .core-content {
      width: 95%;
      display: block; } }

.main-content-title {
  margin: 0 0 28px;
  font-weight: normal;
  font-size: 32px;
  font-size: 2rem; }

.sec-title {
  padding-bottom: 28px;
  border-bottom: 1px dashed #eeeeee; }

.main-content-body h1,
.main-content-body h2,
.main-content-body h3,
.main-content-body h4,
.main-content-body h5 {
  line-height: 2; }
  .main-content-body h1 a,
  .main-content-body h2 a,
  .main-content-body h3 a,
  .main-content-body h4 a,
  .main-content-body h5 a {
    text-decoration: none; }
    .main-content-body h1 a:hover, .main-content-body h1 a:focus,
    .main-content-body h2 a:hover,
    .main-content-body h2 a:focus,
    .main-content-body h3 a:hover,
    .main-content-body h3 a:focus,
    .main-content-body h4 a:hover,
    .main-content-body h4 a:focus,
    .main-content-body h5 a:hover,
    .main-content-body h5 a:focus {
      text-decoration: underline; }
.main-content-body h2 {
  margin: 0 0 28px;
  font-size: 24px;
  font-size: 1.5rem; }
.main-content-body h3 {
  margin: 0 0 14px;
  font-size: 19px;
  font-size: 1.17rem; }
.main-content-body h4 {
  margin: 0;
  font-size: 16px;
  font-size: 1rem; }
.main-content-body h5 {
  margin: 0;
  font-size: 14px;
  font-size: 0.875rem; }

.header {
  margin-bottom: 28px; }
  @media screen and (min-width: 46.875em) {
    .header {
      background: white;
      padding: 28px 0 0;
      border-bottom: 1px solid #eeeeee; } }

.cp {
  display: none; }
  @media screen and (min-width: 46.875em) {
    .cp {
      display: block; } }

.main-content {
  padding: 0; }

p {
  margin: 28px 0; }
  p:last-child {
    margin-bottom: 0; }
