/* Calculate fluid margins
=================================================================*/
@function margin-width() {
    @return 100% / ($max-width / $gutter);
}


/* Base grid styles
=================================================================*/
.grid-column {
    width: 100%;
    margin-bottom: $margin;
    clear: both;
    float: left;
    
    @include respond-min($break-medium) {
        margin-right: margin-width();
        clear: none;
    }
}

.no-margin {
    margin-right: 0;
}
        
.plus-margin {
    margin-right: margin-width();
}


/* Use the nr-of-columns variable to generate the grid widths
=================================================================*/
@include respond-min($break-medium) {
    @for $i from 1 through $nr-of-columns {
        .grid-column-#{$i} {
            width: 100% / ($max-width / (((($max-width - (($nr-of-columns - 1) * $gutter)) / $nr-of-columns) * $i) + (($i - 1) * $gutter)));
        }
    }
}