@mixin wordwrap() {
    -ms-word-break: break-all;
    word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

@mixin userselect() {
    -webkit-user-select: none;  // Chrome all / Safari all
    -moz-user-select: none;     // Firefox all
    -ms-user-select: none;      // IE 10+
    // No support for these yet, use at own risk
    -o-user-select: none;
    user-select: none;
}


// Flexbox stuff
// =================================================================
@mixin flexbox-display-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flexbox-flex($width) {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: $width; // Passing our width value here
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@mixin flexbox-order($order) {
    -webkit-box-ordinal-group: $order;
    -moz-box-ordinal-group: $order;
    -ms-flex-order: $order;
    -webkit-order: $order;
    order: $order;
}
