// Calculate fluid margins
// =================================================================
@function margin-width() {
    @return 100% / ($max-width / $gutter);
}


// Base grid styles
// =================================================================
.col {
    width: 100%;
    margin-bottom: $margin;
    float: left;
    clear: both;
    
    @include min-screen($lap) {
        margin-right: margin-width();
        clear: none;
    }
}


// Use the nr-of-columns variable to generate the grid widths
// =================================================================
@for $i from 1 through $nr-of-columns {
    
    @include min-screen($lap) {
    
        .col-#{$i} {
            width: 100% / ($max-width / (((($max-width - (($nr-of-columns - 1) * $gutter)) / $nr-of-columns) * $i) + (($i - 1) * $gutter)));
        }
    }
}


// Specific widths for palm to lap
// =================================================================
@for $i from 1 through $nr-of-columns {

    .col-palm-#{$i} {
    
        @include screen($palm, $lap) {
            width: 100% / ($max-width / (((($max-width - (($nr-of-columns - 1) * $gutter)) / $nr-of-columns) * $i) + (($i - 1) * $gutter)));
            margin-right: margin-width();
            clear: none;
        }
        
        @include min-screen($lap) {
            margin-right: 0;
        }
    }
}


// Specific widths for lap to desk
// =================================================================
@for $i from 1 through $nr-of-columns {

    .col-lap-#{$i} {
    
        @include screen($lap, $desk) {
            width: 100% / ($max-width / (((($max-width - (($nr-of-columns - 1) * $gutter)) / $nr-of-columns) * $i) + (($i - 1) * $gutter)));
            margin-right: margin-width();
            clear: none;
        }
        
        @include min-screen($desk) {
            margin-right: 0;
        }
    }
}


// Extra or no margins
// =================================================================
.no-margin {
    margin-right: 0;
}
        
.plus-margin {
    margin-right: margin-width();
}
