// On media query: https://github.com/JoshBarr/on-media-query


// -----------------------------------------------------------------
// This is a hack. It works in:
// FF 3.6+, Anroid 2.2+, Safari, Chrome, IE7, IE8, IE9+
// -----------------------------------------------------------------

html {
    font-family: 'wrist';
}

* html { // IE6
    font-family: 'desk';
}

*+html { // IE7
    font-family: 'desk';
}

@media \0screen {
    html {  // IE8
        font-family: 'desk';
    }
}

// Queries for supported browsers.       
// -----------------------------------------------------------------
@media screen and (min-width: $palm) {
    html {
        font-family: 'palm';
    }
}

@media screen and (min-width: $lap) {
    html {
        font-family: 'lap';
    }
}

@media screen and (min-width: $desk) {
    html {
        font-family: 'desk';
    }
}

@media screen and (min-width: $cinema) {
    html {
        font-family: 'cinema';
    }
}
