// Define sizes here, use them later on
// -----------------------------------------------------------------
$f-xs: 11px;
$f-s: 12px;
$f-m: 14px;
$f-l: 16px;
$f-xl: 18px;
$f-xxl: 20px;


// Font sizes. You can add your own variables here using some preset size (or add a new size)
// -----------------------------------------------------------------
$text-xs: $f-xs;
$text-s: $f-s;
$text-m: $f-m;
$text-l: $f-l;
$text-xl: $f-xl;
$text-xxl: $f-xxl;


// Standard site sizes
// -----------------------------------------------------------------
$base-size: $text-l;
$body-size: $text-m;

// Calculate the line-height according to the golden ratio
// http://www.pearsonified.com/typography/
// $line-height: 28px;

// Remove units
// -----------------------------------------------------------------
@function strip-units($number) {
    @return $number / ($number * 0 + 1);
}

// Or let SASS calculate it for you using the max-width & font-size
// http://www.pearsonified.com/2011/12/golden-ratio-typography.php
$golden-ratio: 1.61803398875;
$line-height: $golden-ratio - (1 - ((strip-units($max-width)) / (((strip-units($body-size)) * $golden-ratio) * ((strip-units($body-size)) * $golden-ratio)))) * (1 / (2 * $golden-ratio));


// Define font names here, use them later on
// -----------------------------------------------------------------
$websafe: Arial, Verdana, sans-serif;
$fontface: Arial, Verdana, sans-serif;
$serif: Georgia, "Times new roman", serif;


// Font families
// -----------------------------------------------------------------
$body-font: $websafe;          // Websafe font family
$special-font: $fontface;      // Special font, for example a google font. Use google fonts locally for a better pagespeed score
$sec-font: $serif;
