//
// Define sizes here
// Use increments of 8 for a cleaner layout
// https://medium.com/built-to-adapt/intro-to-the-8-point-grid-system-d2573cde8632
//
$layout--base:      8px;
$layout--1:         $layout--base * 1;
$layout--2:         $layout--base * 2;
$layout--4:         $layout--base * 4;
$layout--5:         $layout--base * 5;
$layout--6:         $layout--base * 6;
$layout--7:         $layout--base * 7;


//
// Use the defined sizes
// Use https://en.wikipedia.org/wiki/Metric_prefix for variables naming conventions
// Gutters
$gutter--centi:     $layout--1;
$gutter--deci:      $layout--2;
$gutter:            $layout--4;
$gutter--deca:      $layout--5;
$gutter--hecto:     $layout--6;
$gutter--kilo:      $layout--7;

// Margins
$margin--centi:     $layout--1;
$margin--deci:      $layout--2;
$margin:            $layout--4;
$margin--deca:      $layout--5;
$margin--hecto:     $layout--6;
$margin--kilo:      $layout--7;

// Paddings
$padding--centi:    $layout--1;
$padding--deci:     $layout--2;
$padding:           $layout--4;
$padding--deca:     $layout--5;
$padding--hecto:    $layout--6;
$padding--kilo:     $layout--7;
