// *
// Define sizes here, use them later on
// We're using increments of 8
// https://medium.com/built-to-adapt/intro-to-the-8-point-grid-system-d2573cde8632
// *
$layout--s:         8px;
$layout--m:         16px;
$layout:            32px; // Ideally this would be the same as the $line-height variable for a good vertical rhythm. But remember, line-height shouldn't be in pixels!
$layout--l:         40px;
$layout--xl:        48px;
$layout--xxl:       56px;

// Gutters
$gutter--s:         $layout--s;
$gutter--m:         $layout--m;
$gutter:            $layout;
$gutter--l:         $layout--l;
$gutter--xl:        $layout--xl;
$gutter--xxl:       $layout--xxl;

// Margins
$margin--s:         $layout--s;
$margin--m:         $layout--m;
$margin:            $layout;
$margin--l:         $layout--l;
$margin--xl:        $layout--xl;
$margin--xxl:       $layout--xxl;

// Paddings
$padding--s:        $layout--s;
$padding--m:        $layout--m;
$padding:           $layout;
$padding--l:        $layout--l;
$padding--xl:       $layout--xl;
$padding--xxl:      $layout--xxl;
