// Responsive breakpoints. Always use em's!
// $mq--wrist is the variable name from 0 to palm
$mq--wrist:     0;
$mq--palm:      em(480);
$mq--lap:       em(750);
$mq--desk:      em(970);
$mq--wall:      em(1170);
$mq--cinema:    em(1430);


// Layout variable
// I'm using increments of 8 for a cleaner layout
// https://medium.com/built-to-adapt/intro-to-the-8-point-grid-system-d2573cde8632
$pt--base: 8px;


// Default values for other stuff
$radius: 3px;
$shadow: (rgba(0, 0, 0, .25) 0 1px 1px);
