// Define font families here.
// For practical browser support use woff2 & woff. See https://css-tricks.com/snippets/css/using-font-face/
// This is a good font-face generator: https://www.fontsquirrel.com/tools/webfont-generator
// Font-files should be placed in the fonts directory
// Use google fonts locally for a better pagespeed score.
@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-regular.woff2') format('woff2'),
         url('fonts/lato-regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


// Font sizes & other related stuff
// Add new ones when appropriate
$line-height: 1.8;
$font-size: pt(2);
$font-meta: pt(1.5);


// Define font variables here, use later on
$sans-serif: Arial, Verdana, sans-serif;
$lato--regular: 'Lato', Arial, Verdana, sans-serif;


// Define font families here using the above variables
$font-family--default: $lato--regular;


// Header sizes
$header-1: 3 * $font-size;
$header-2: 2 * $font-size;
$header-3: 1.5 * $font-size;
$header-4: 1 * $font-size;
$header-5: 1 * $font-size;

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.1;
    text-rendering: optimizeLegibility;
    word-break: break-word;

    a {
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}


// Code snippet
code {
    padding-right: pt(1);
    padding-left: pt(1);
    display: inline-block;
    background: rgba($mute, .25);
    border-radius: $radius;
}
