// *
// Define font families here.
// For practical browser support use woff2 & woff. See https://css-tricks.com/snippets/css/using-font-face/
// This is a good font-face generator: https://www.fontsquirrel.com/tools/webfont-generator
// Font-files should be placed in the fonts directory
// Use google fonts locally for a better pagespeed score.
// *
@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-regular.woff2') format('woff2'),
         url('fonts/lato-regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}



// *
// Font sizes & other related stuff
// Add new ones when appropriate
// *
$line-height: 1.8;
$type-body: 16px;
$type-meta: 12px;



// *
// Define font names here, use them later on
// *
$websafe: Arial, Verdana, sans-serif;
$lato--regular: 'Lato', $websafe;



// *
// Define font variables here using the above font names
// *
$type-fam-body: $lato--regular;



// *
// Header sizes
// *
$header-1: 2 * $type-body;
$header-2: 1.5 * $type-body;
$header-3: 1.17 * $type-body;
$header-4: 1 * $type-body;
$header-5: 1 * $type-body;

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.1;
    text-rendering: optimizeLegibility;

    a {
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}



// *
// Page title
// *
.content__header {
    margin: 0 0 $margin--m;
    font-weight: normal;
    font-size: $header-1;

    @media (min-width: $mq--lap) {
        margin-bottom: $margin;
    }
}



// *
// Headers in the main content
// *
.content__body {

    h1, h2, h3, h4, h5 {

        a {
            text-decoration: none;

            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }

    h2 {
        margin: 0;
        font-size: $header-2;
    }

    h3 {
        margin: 0;
        font-size: $header-3;
    }

    h4 {
        margin: 0;
        font-size: $header-4;
    }

    h5 {
        margin: 0;
        font-size: $type-body;
    }
}
