// Responsive breakpoints. Always use em's!
$mq--wrist:     0; // $mq--wrist is the variable name from 0 to 480
$mq--palm:      em(480);
$mq--lap:       em(750);
$mq--desk:      em(970);
$mq--wall:      em(1170);
$mq--cinema:    em(1430);


// Default values for other stuff
$radius: 3px;
$shadow: (rgba(0, 0, 0, .25) 0 1px 1px);


// Grid variables
$site--width: 100%;            // The site width if the screen is smaller then the max size
$site--max-width: 1024px;     // The max-size of the site
