// *
// Define sizes here, use them later on
// We're using increments of 8
// https://medium.com/built-to-adapt/intro-to-the-8-point-grid-system-d2573cde8632#.bq40dsjj8
// *
$s--wrist: 8px;
$s--palm: 16px;
$s--lap: 32px; // Ideally this would be the same as the $line-height variable for a good vertical rhythm. But remember, line-height shouldn't be in pixels!
$s--desk: 40px;
$s--wall: 48px;
$s--cinema: 56px;

// *
// Gutters
// *
$gutter--small:     $s--wrist;
$gutter--skinny:    $s--palm;
$gutter:            $s--lap;
$gutter--desk:      $s--desk;
$gutter--wall:      $s--wall;
$gutter--cinema:    $s--cinema;

// *
// Margins
// *
$margin--small:     $s--wrist;
$margin--skinny:    $s--palm;
$margin:            $s--lap;
$margin--desk:      $s--desk;
$margin--wall:      $s--wall;
$margin--cinema:    $s--cinema;

// *
// Paddings
// *
$padding--small:    $s--wrist;
$padding--skinny:   $s--palm;
$padding:           $s--lap;
$padding--desk:     $s--desk;
$padding--wall:     $s--wall;
$padding--cinema:   $s--cinema;



// *
// Responsive breakpoints. Always use em's!
// *
$mq--wrist:     0;              // $mq--wrist is the variable name from 0 to 480
$mq--palm:      30em;           // 480px
$mq--lap:       46.875em;       // 750px
$mq--desk:      60.625em;       // 970px
$mq--wall:      73.125em;       // 1170px
$mq--cinema:    89.375em;       // 1430px



// *
// Default values for other stuff
// *
$radius: 3px;
$shadow: (rgba(0, 0, 0, .25) 0 1px 1px);



// *
// Grid variables
// *
$site--width: 95%;            // The site width if the screen is smaller then the max size
$site--max-width: 1280px;     // The max-size of the site
$grid-columns: 8;             // How many grid columns we have. Don't forget to change your classnames when changing this!
