// Main content on a page
// -----------------------------------------------------------------
.main-content {
    padding: 0;

    @include min-screen($lap) {
    }
}


// The content
// -----------------------------------------------------------------
.main-content-body {

    p,
    ul {
        margin: $margin/2 0;
        
        @include min-screen($lap) {
            margin: $margin 0;
        }
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}
