{% extends "base/base.twig" %}

{% block content %}

    <div class="l-cs">

        <main role="main">

            <h1 class="main__header">

                {{ author.display_name }}

            </h1>

            <div class="main__content">

            </div>

        </main>

        <aside role="complementary">

            Aside

        </aside>

    </div>

{% endblock %}
