{% extends "base/base.twig" %}

{% block content %}

    <div class="l-cs">

        <main role="main">

            <h1 class="main__header">

                {{ post.title }}

            </h1>

            <div class="main__body">

                {% for item in posts %}
                    {% include 'modules/post-excerpt.twig' %}
                {% endfor %}

                {% include 'modules/pagination.twig' %}

            </div>

        </main>

        <aside role="complementary">

            <h3>
                Sidebar
            </h3>

            {% include 'sidebar.twig' %}

        </aside>

    </div>

{% endblock %}
