{% extends "base/base.twig" %}

{% block content %}

    <section class="light">
        <div class="container">
            <h1>{{ post.title }}</h1>
            <br><br>
        </div>
        <div class="container-fluid">
            <div class="row">

                <div class="main__content">

                    {% for item in posts %}
                        {% include 'modules/post-excerpt.twig' %}
                    {% endfor %}
                </div>

            </div>

        </div>

    </section>

{% endblock %}
