{% extends "base/base.twig" %}

{% block content %}

    <div class="l-cs">

        <main role="main">

            <h1 class="main__header">

                Categorie:
                {{ title }}

            </h1>

            <div class="main__content">

                {% for item in posts %}
                    {% include 'modules/post-excerpt.twig' %}
                {% endfor %}

                {% include 'modules/pagination.twig' %}

            </div>

        </main>

        <aside role="complementary">

            Aside

        </aside>

    </div>

{% endblock %}
