{% extends "layouts/base.twig" %}

{% block content %}

<div class="content divider divider--content">

    <div class="core core--content">

        <div class="row">

            <main class="content col col--5" role="main">

                <h1 class="post__header single-post__header">

                    Contact

                </h1>

                <div class="post__entry">

                    {{ post.content }}

                </div>

            </main>

        </div>

    </div>

</div>

{% endblock %}
