{% extends "base/base.twig" %}

{% block content %}

    <main class="main" role="main">

        <h1 class="main__header">

            {{ post.title }}

        </h1>

        <div class="main__entry">

            {{ post.content }}

        </div>

    </main>

    <aside class="aside" role="complementary">

        <script>
            var company_address = [
                {
                    location: "Kerklaan 30b, Haren"
                }
            ];
        </script>

        <div id="js-map_address" style="width: 100%; height: 400px;"></div>

    </aside>

{% endblock %}
