{% extends "base/base.twig" %}

{% block content %}

    <div class="l-cs">

        <main role="main">

            <h1 class="main__header">

                {{ post.title }}

            </h1>

            <div class="main__content">

                {{ post.content }}

            </div>

        </main>

    </div>

{% endblock %}
