{% extends "layouts/base.twig" %}

{% block content %}

    <main class="main main--min-aside" role="main">

        <h1 class="main__header">

            {{ post.title }}

        </h1>

        <div class="main__body">

            {{ post.content }}

        </div>

    </main>

{% endblock %}
