{% extends "base/base.twig" %}

{% block content %}

    <section class="light">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>{{ post.title }}</h1>
                    <div style="padding: 20px 0px;">
                        <h3>Bereikbaarheid &amp; openingstijden</h3>
                        <p>
                            <p>
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2389.155332684436!2d6.565387316090193!3d53.21506317995176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c9cd53fce4cfff%3A0xb2c2bfa929de10c9!2sProeflokaal+MOUT!5e0!3m2!1snl!2snl!4v1478640728450"
                                    padding-left="10px"
                                    allowfullscreen=""
                                    padding-right:=""
                                    10px;=""
                                    width="100%"
                                    height="300"
                                    frameborder="10"
                                    align="middle">&lt;span id="selection-marker-1" class="redactor-selection-marker" data-verified="redactor</iframe>
                            </p>
                            <br>
                            {{ post.content }}
                        </p>
                    </div>
                </div>
            </div>
            <hr class="brown">
        </div>
    </section>

{% endblock %}
