{% extends "layouts/base.twig" %}

{% block content %}

    <div class="divider divider--content">

        <div class="core core--content">

            <div class="row">

                <main class="content col col--5" role="main">

                    <h1 class="post__header single-post__header">

                        {{ post.title }}

                    </h1>

                    <div class="post__entry">

                        <script>
                            var company_address = [
                                {
                                    location: "Kerklaan 30b, Haren"
                                }
                            ];
                        </script>

                        <div id="js-map_address" style="width: 100%; height: 400px;"></div>

                        {{ post.content }}

                    </div>

                </main>

            </div>

        </div>

    </div>

{% endblock %}
