{% extends "base/base.twig" %}

{% block content %}

    <section class="light">
        <div class="container">
            <div class="row reveal">
                <div class="col-md-6">
                    <img src="/wp-content/uploads/2021/07/Horeca_ambacht.jpg" class="img-responsive" style="margin-top: 20px; margin-bottom: 20px;">
                </div>
                <div class="col-md-6">
                    {{ post.content }}
                </div>
            </div>
        </div>
    </section>
    <section class="brown">
        <div class="container">
            <div class="row reveal">
                <div class="col-md-6">
                    <h3>Crowdfunding</h3>
                    <p>
                        Dit proeflokaal was er niet geweest zonder de vele enthousiaste bierliefhebbers door het hele land. Dankzij een succesvolle crowdfundingcampagne heeft Proeflokaal MOUT uiteindelijk zijn plek gevonden in de binnenstad van Groningen.
                    </p>
                </div>
                <div class="col-md-6">
                    <h3>Nederlands bier</h3>
                    <p>
                        In het proeflokaal wordt alleen bier geschonken van eigen bodem. Met meer dan 400 brouwerijen hebben we inmiddels een brouwcultuur waar we trots op mogen zijn! Vooruitstrevend, experimenteel en vol van smaak.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row reveal">
                <div class="col-md-6">
                    <img src="/wp-content/uploads/2021/07/Bierzaak_aDHmTK0.jpg" class="img-responsive" style="margin-top: 20px; margin-bottom: 20px;">
                </div>
                <div class="col-md-6">
                    <h3>Proeflokaal MOUT - CORONA</h3>
                    <p>
                        <p>Welkom terug lieve gasten!<br></p>
                        <p>Wie zegt dat het op anderhalve meter niet gezellig kan worden? Met een beetje passen en meten kunnen we veilig, overzichtelijk en gastvrij open. Reserveren is niet nodig.</p>
                    </p>
                    <h3>Ambachtelijk Proeflokaal</h3>
                    <p>
                        Zodra je het karakteristieke proeflokaal binnenstapt voel je je direct thuis. Er hangt een sfeer die doet denken aan de jaren 20 & 30, een tijd waarin diverse ambachten het straatbeeld bepaalden. MOUT geeft dat oude, vertrouwde gevoel weer, zonder
                        dat het gemaakt of onecht aandoet. Authentiek, niet gevoelig voor trends. Het proeflokaal straalt warmte uit en verbindt jong en oud.
                    </p>
                </div>
            </div>
            <hr class="brown">
        </div>
    </section>

{% endblock %}
