{% extends "base/base.twig" %}

{% block content %}

    <div class="l-g8">

        <main role="main">

            <h1 class="main__header">

                Zoekresultaten voor '{{ post.title }}'

            </h1>

            <div class="main__body">

                {% for item in posts %}
                    {% include 'modules/post-excerpt.twig' %}
                {% endfor %}

                {% include 'modules/pagination.twig' %}

                </ul>

            </div>

        </main>

    </div>

{% endblock %}
