// Page title
// -----------------------------------------------------------------
.main-content-title {
    margin: 0 0 $margin-skinny;
    font-weight: normal;
    @include rem('font-size', $header-1);

    @include min-screen($lap) {
        margin-bottom: $margin;
    }
}


// Page title with special styling
// -----------------------------------------------------------------
.sec-title {
    padding-bottom: $margin;
    border-bottom: 1px dashed $border-color;
}


// Headers in the main content
// -----------------------------------------------------------------
.main-content-body {

    h1,
    h2,
    h3,
    h4,
    h5 {
        line-height: 2;
        
        a {
            text-decoration: none;
    
            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }

    h2 {
        margin: 0;
        @include rem('font-size', $header-2);
    }
    
    h3 {
        margin: 0;
        @include rem('font-size', $header-3);
    }
    
    h4 {
        margin: 0;
        @include rem('font-size', $header-4);
    }
    
    h5 {
        margin: 0;
        @include rem('font-size', $body-size);
    }
}
