{% extends "layouts/base.twig" %}

{% block content %}

    <main class="main" role="main">

        <h1 class="main__header">

            Pagina niet gevonden

        </h1>

    </main>

{% endblock %}
