* {
    box-sizing: border-box;
    outline: 0;
    word-wrap: break-word;
    -webkit-tap-highlight-color: rgba(#000, 0);
    -webkit-font-smoothing: antialiased;
}

html {
    font-size: $base-size/$body-size; // Enable font-size zoom for old ies

    &.active-menu {
        height: 100%;
        overflow: hidden;
    }
    
    &.touch.no-overflow-scroll.active-menu {
        overflow: visible;
    }
}

body {
    background: $body-bg-color;
    font: #{$body-size}/#{$line-height} #{$body-font};
    color: $body-color;

    .active-menu & {
        height: 100%;
        overflow: hidden;
        user-select: none;
    }
    
    .touch.no-overflow-scroll.active-menu & {
        overflow: visible;
    }
}

.container {
    // Fix for IOS rotation bug
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    overflow: hidden;
    opacity: 0;
    transition-timing-function: ease;
    transition-duration: .025s;
    transition-property: opacity;

    .active-menu & {
        overflow: hidden;
    }
    
    .touch.no-overflow-scroll.active-menu & {
        overflow: visible;
    }
}

#content-toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: $mobile-menu-width;
    z-index: 10000;
    opacity: 0;
    background: $body-bg-color;
    
    @include min-screen($palm) {
        left: $skinny-menu-width;
    }
}

// The container that is animated when toggling the menu
// -----------------------------------------------------------------
.container-transition {
    width: 100%;
    height: 100%;
    float: left;
    transition-timing-function: ease;
    transition-duration: .5s;
    transition-property: all;
    
    .touch.no-overflow-scroll & {
        height: auto;
    }

    .toggle-menu & {
        position: relative;
        left: $mobile-menu-width;
        
        @include min-screen($palm) {
            left: $skinny-menu-width;    
        }
        
        @include min-screen($lap) {
            left: 0;
        }
    }

    .csstransforms3d.toggle-menu & {
        left: 0;
        transform: translate3d($mobile-menu-width, 0, 0) scale3d(1, 1, 1);
        backface-visibility: hidden;

        .divider {
            transform-style: flat;
        }

        @include min-screen($palm) {
            transform: translate3d($skinny-menu-width, 0, 0) scale3d(1, 1, 1);
        }

        @include min-screen($lap) {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }
}

// General links
// -----------------------------------------------------------------
a {
    color: $link-color;
    text-decoration: underline;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

// Section dividers
// -----------------------------------------------------------------
.divider {
    width: 100%;
    float: left;    
    backface-visibility: hidden;
    transform-style: flat;

    @include min-screen($palm) {
    }
}

// Center site
// -----------------------------------------------------------------
.core {
    margin: 0 auto;
    padding: $gutter;
    clear: both;

    @include min-screen($lap) {
        width: $width;
        max-width: $max-width;
        padding: $gutter 0;
        position: relative;
    }
}

.core-header {
    z-index: 1200;
}

.core-content {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    
    @include min-screen($lap) {
        width: $width;
        display: block;
    }
}

.core-doormat {
    
}

.core-footer {
    
}
