// Common stuff for all headers
// =================================================================
h1,
h2,
h3,
h4,
h5 {
    line-height: 1;
    
    a {
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}


// Vertical rhythm
// Google Chrome doesn't seem to use the calculated line-heigth properly
// =================================================================
h1 {
    @include rem('margin-top', $line-height, $header-1);
    @include rem('margin-bottom', $line-height, $header-1);
}

h2 {
    @include rem('margin-top', $line-height, $header-2);
    @include rem('margin-bottom', $line-height, $header-2);
}

h3 {
    @include rem('margin-top', $line-height, $header-3);
    @include rem('margin-bottom', $line-height, $header-3);
}

h4 {
    @include rem('margin-top', $line-height, $header-4);
    @include rem('margin-bottom', $line-height, $header-4);
}

h5 {
    @include rem('margin-top', $line-height, $header-5);
    @include rem('margin-bottom', $line-height, $header-5);
}


// Other titles
// =================================================================
.maincontent-title {
    font-weight: normal;
    @include rem('font-size', $header-1);

    @include min-screen($lap) {
    }
}

.sec-title {
    padding-bottom: $margin;
    border-bottom: 1px dashed $border-color;
}

.maincontent-body {

    h2 {
        font-weight: normal;
        @include rem('font-size', $header-2);
    
        @include min-screen($lap) {
        }
    }
    
    h3 {
        margin: 0;
        @include rem('font-size', $header-3);
    }
    
    h4 {
        margin: 0;
        font-weight: normal;
        @include rem('font-size', $header-4);
    }
}
