.maincontent-title {
    font-weight: normal;
    margin: 0 0 $margin;
    @include rem('font-size', $header-2);

    @include respond-min($palm) {
        @include rem('font-size', $header-1);
    }
}

h1,
h2,
h3,
h4,
h5 {
    line-height: normal;
    
    a {
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.sec-title {
    padding-bottom: $margin;
    border-bottom: 1px dashed $border-color;
}

.maincontent-body {

    h2 {
        margin: 0;
        font-weight: bold;
        @include rem('font-size', $header-3);
    
        @include respond-min($palm) {
            font-weight: normal;
            @include rem('font-size', $header-2);
        }
    }
    
    h3 {
        margin: 0;
        @include rem('font-size', $header-3);
    }
    
    h4 {
        margin: 0;
        font-weight: normal;
        @include rem('font-size', $header-4);
    }
}
