#logo {
    width: 72px;
    height: 48px;
    margin-left: -36px;
    position: absolute;
    top: 4px;
    left: 50%;
    display: block;
    text-indent: -9999px;
    @include svgbg('img/sprite');    
    transform: translate3d(0, 0, 0);
    
    @include respond-min($palm) {
        left: 35%;
    }

    @include respond-min($lap) {
        width: 156px;
        height: 87px;
        margin: 0 20px 0 0;
        float: left;
        position: static;
        background-position: 0 -50px;
    }
}
