* {
    box-sizing: border-box;
    //word-wrap: break-word;
    -webkit-tap-highlight-color: rgba(#000, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: auto;
}

html {
}

body {
    background: $body-bg;
    font: #{$body-size}/#{$line-height} #{$body-family};
    color: $body;
}



// *
// General links
// *
a {
    color: $link;
    text-decoration: underline;

    &:hover, &:focus {
        text-decoration: none;
    }
}
