// Some styles for better font rendering
*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(#000, 0);
    text-rendering: auto;
}

// The default font-size is 16px, let's not change that
html {
}

body {
    // Always good to define a background color on the body
    background: $body-bg;
    font: #{$font-size}/#{$line-height} #{$font-family};
    color: $body;
}


// General links
a {
    color: $link;
    text-decoration: underline;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}
