<section class="l-doormat">

    <div class="grid-item-container">

        <div class="grid-item">

            <div class="vcard">

                <ul class="vcard__section adr">

                    <li class="org">
                        <strong>
                            Wout Mager
                        </strong>
                    </li>

                    <li class="street-address">
                        Folkingestraat 37B
                    </li>

                    <li>
                        <span class="postal-code">
                            9711 JT
                        </span>,
                        <span class="locality">
                            Groningen
                        </span>
                    </li>

                    <li class="country-name">
                        Nederland
                    </li>

                </ul>

                <ul class="vcard__section">

                    <li class="url fn">
                        <strong>
                            Wout Mager
                        </strong>
                    </li>

                    <li class="tel">
                        06 - 4641 2770
                    </li>

                    <li>
                        <a href="mailto:wout@woutmager.nl" class="email">
                            wout@woutmager.nl
                        </a>
                    </li>

                </ul>

            </div>

        </div>

    </div>

</section>
