<footer class="l-footer" role="contentinfo">

    <div class="grid-item-container">

        <div class="grid-item">

            &copy;
            {{ function('date', 'Y') }}

        </div>

    </div>

</footer>

{{ wp_footer }}
