<footer class="l-footer" role="contentinfo">

    <div class="container">

        <div>

            &copy;
            {{ now | date('Y') }}

        </div>

    </div>

</footer>

{{ function('wp_footer') }}
