<footer class="l-footer" role="contentinfo">

    <div class="container">

        <div>

            &copy;
            {{ function('date', 'Y') }}

        </div>

    </div>

</footer>

{{ wp_footer }}
