<footer class="l-footer" role="contentinfo">

    <div class="container">

        <div class="l-g12">

            <div>

                &copy;
                {{ function('date', 'Y') }}

            </div>

        </div>

    </div>

</footer>

{{ wp_footer }}
