<footer class="footer" role="contentinfo">

    <div class="center">

        <div class="col">

            &copy;
            {{ function('date', 'Y') }}

        </div>

    </div>

</footer>

{{ wp_footer }}
