<div class="header">
    <div class="menu-holder">
        <div class="logo">
            <a href="/">
                <img src="{{ site.theme.link }}/static/img/logo.png">
            </a>
        </div>
        <div class="links-left">
            <a href="/">Home</a>
            <a href="about">About</a>
            <a href="agenda">Agenda</a>
            <a href="blog">Blog</a>
        </div>
        <div class="links-right">
            <a href="bierkaart">Bierkaart</a>
            <a href="bierwinkel">Bierwinkel</a>
            <a href="contact">Contact</a>
        </div>
        <div class="cross">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
    </div>
    <div class="menu-icon">
        <i class="fa fa-bars" aria-hidden="true"></i>
        MENU
    </div>
    <div class="language-chooser">
        <div class="language-selected">
            NL
            <i class="fa fa-chevron-down" style="font-size: 11px;"></i>
        </div>
        <div class="mout-dropdown">
            <div>
                <a href="/en/">
                    EN
                </a>
            </div>
        </div>
    </div>
</div>
<div class="header-spacing"></div>
</div>
