.l-post {
    width: 100%;
    margin-bottom: $margin;
    float: left;
    
    &:last-child {
        margin-bottom: 0;
    }

    p {
        margin: 0;
    }

    ul {
        padding-left: 40px;
    }

    .blog-thumb {
        display: none;

        @include respond-min($lap) {
            width: 87px;
            height: 68px;
            margin-right: $gutter-skinny;
            overflow: hidden;
            float: left;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 0;
            }
        }
    }
}

.l-post-header {
    
}

.l-post-title {
    margin: 0;
}

.l-post-entry {
    
}

.l-post-nav {
    text-align: center;

    @include respond-min($lap) {
        text-align: left;
    }
}

time,
.postdate {
    color: $lesser-color;
    @include rem('font-size', $text-skinny);

    a {
        color: $lesser-color;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $lesser-color-hover;
            text-decoration: underline;
        }
    }
}

.l-post-options {
    @include rem('font-size', $text-skinny);

    a {
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}


.l-post-navigation {
    width: 100%;
    margin-bottom: $margin;
    padding: 0;
    float: left;
    clear: both;
    list-style-type: none;
    
    li {
        margin-right: 20px;
        float: left;
        
        a {
            white-space: nowrap;
        }
    }
    
}
