// Single post
// -----------------------------------------------------------------
.post,
.type-attachment {
    width: 100%;
    margin-bottom: $margin;
    float: left;
    
    &:last-child {
        margin-bottom: 0;
    }

    p {
        margin: 0;
    }

    ul {
        padding-left: 40px;
    }

    .post-thumb {
        display: none;

        @include min-screen($lap) {
            width: 87px;
            height: 68px;
            margin-right: $gutter-skinny;
            overflow: hidden;
            float: left;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 0;
            }
        }
    }
}

.sticky {   // Sticky post
}

.post-header {
    
}

// Post title
// -----------------------------------------------------------------
.post-title {
    margin: 0;
}

.single-post-title {
    margin-bottom: $margin;
}

// Post content
// -----------------------------------------------------------------
.post-entry {
}

// Blog nav
// -----------------------------------------------------------------
.post-nav {
    text-align: center;

    @include min-screen($lap) {
        text-align: left;
    }
}

// Post meta
// -----------------------------------------------------------------
.post-date {
    color: $lesser-color;
    @include rem('font-size', $text-palm);
    
    .single-post & {
        margin-top: $margin;
    }

    a {
        color: $lesser-color;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $lesser-color-hover;
            text-decoration: underline;
        }
    }
}

// Continue reading & nr. of comments
// -----------------------------------------------------------------
.post-options {
    @include rem('font-size', $text-palm);

    a {
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

// Post navigation
// -----------------------------------------------------------------
.post-navigation {
    width: 100%;
    margin-bottom: $margin;
    padding: 0;
    float: left;
    clear: both;
    list-style-type: none;
    
    li {
        margin-right: 20px;
        float: left;
        
        a {
            white-space: nowrap;
        }
    }
    
}
