/* Doormat
=================================================================*/
#doormat {
    background: #fff;
    border-top: 1px solid $border-color;

    .holder {
        padding: $gutter;

        @include respond-min($break-medium) {
            padding: $gutter 0;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}
