input {
    width: 100%;
    padding: $input-padding;
    line-height: $line-height;
    font-family: $body-font;
    @include rem('font-size',$body-size);
    
    @include respond-min($palm) {
        width: 50%;
        
        aside section & {
            width: 100%;
        }
    }
}

textarea {
    width: 100%;
    height: 120px;
    padding: $input-padding;
    line-height: $line-height;
    font-family: $body-font;
    @include rem('font-size',$body-size);
}

input[type=file] {
    padding: 0;
}

input[type=checkbox], input[type=radio] {
    width: auto;
    margin-right: $gutter-skinny;
}

input[type=submit] {
    
    @include respond-min($palm) {
        width: auto;
    }
}

#content form {
    position: relative;
    z-index: 1;

    .formcontainer {
        padding: 0;
        clear: both;

        @include respond-min($palm) {
            width: 100%;
            float: left;
        }
    }

    label, .label {
        width: 100%;
        display: block;
        clear: both;

        &:hover, &:focus {
            cursor: pointer;
        }

        small {
            font-size: 100%;
        }
    }

    li {
        margin-right: 12px;
        padding: 0;
        background: none;
        @include inline-block;

        input {
            width: auto;
            margin-right: 2px;
        }

        label {
            width: auto;
            clear: none;
            display: inline;
        }
    }
}

.submit, #submit {
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    @include respond-min($palm) {
        width: auto;
    }

    &:hover, &:focus {
    }
}

a.submit {
    @include inline-block;
}

.formrow {
    @extend %formrow;
}

#screenReader
, #dialog-message
, #loading
{
    display: none;
}

.req {
    color: $lesser-color;
    @include rem('font-size',$body-size);
}