// Header image
// -----------------------------------------------------------------
.header-image {
    margin-bottom: $margin;
    border-radius: 0;

    @include min-screen($lap) {
        width: 100%;
    }
}
