.search-result {
    margin-bottom: $gutter;
    
    &:last-child {
        margin-bottom: 0;
    }
}

.search-result-header {
    
}

.search-result-title {
    font-weight: bold;
    @include rem('font-size',$body-size);
}