// Actual result
// -----------------------------------------------------------------
.search-result {
    margin-bottom: $margin;
    
    &:last-child {
        margin-bottom: 0;
    }
}

// Result header
// -----------------------------------------------------------------
.search-result-header {
    
}

// Result title
// -----------------------------------------------------------------
.search-result-title {
    font-weight: bold;
    @include rem('font-size', $body-size);
}
