.searchform {
    width: 100%;
    padding: $gutter-skinny;
    clear: both;
    display: none;

    nav & {
        display: block;
    }

    #content & {
        padding: 0;
        display: block;
    }

    #header & {

        @include respond-min($palm) {
            width: 20%;
            padding: 0;
            float: right;
            clear: none;
            display: block;
            background: transparent;
            text-align: left;
        }

        #s {
            width: 100%;
            clear: both;

            @include respond-min($palm) {
                width: 100%;
            }
        }
    }
}

.searchform-container {
    line-height: 40px;
    margin: 0;
    padding: 0;
}
