.sidebar-section {
    width: 100%;
    margin-bottom: $margin;
    padding: $gutter-skinny;
    float: left;
    background: #fff;
    border: 1px solid $border-color;

    @include respond-min($lap) {
        padding: $gutter;
    }

    &:last-child {
        margin-bottom: 0;
    }
    
    img {
        margin-bottom: $margin;
        border-radius: 0;
    }

    ul {
        margin: 0;
    }

    a {
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    iframe {
        float: left;
    }

}

.sidebar-section-header {

}

.sidebar-section-title {
    margin-bottom: $margin;
    font-weight: bold;
    @include rem('font-size', $body-size);

    a {
        text-decoration: none;
        
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}
