.sidebar-section {
    width: 100%;
    padding: $gutter-skinny;
    margin-bottom: $gutter;
    background: #fff;
    border: 1px solid $border-color;
    float: left;

    @include respond-min($break-desktop) {
        padding: $gutter;
    }

    &:last-child {
        margin-bottom: 0;
    }
    
    img {
        margin-bottom: $gutter;
        @include border-radius();
    }

    ul {
        margin: 0;
    }

    a {
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    iframe {
        float: left;
    }

}

.sidebar-section-header {

}

.sidebar-section-title {
    margin-bottom: $gutter-skinny;
    font-weight: bold;
    @include rem('font-size',$body-size);

    a {
        text-decoration: none;
    }
}