// A submenu on a page
// -----------------------------------------------------------------
#submenu {
    display: none;
    float: none;

    @include min-screen($lap) {
        margin-bottom: $margin;
        float: left;
        clear: none;
        display: block;
        border: 1px solid $border-color;
    }

    ul {
        width: 100%;
        margin: 0;
        padding: 0;
        border: 1px solid $border-color;
        @include inline-block;
        
        @include min-screen($lap) {
            border: 0;
        }
    }

    li {
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
        float: left;
        background: transparent;

        @include min-screen($lap) {
            margin-bottom: 0;
        }
        
        &:last-child {
            
            a {
                border: 0;
            }
        }
    }

    a {
        padding: $gutter-skinny;
        display: block;

        @include min-screen($lap) {
            border-bottom: 1px solid $border-color;
            background: transparent;
        }

        &:active {
        }

        &:hover,
        &:focus {
            background: $border-color;
        }
    }

    .current_page_item a {
        font-weight: bold;
    }
}
