#header {
}

#logo {
    width: 72px;
    height: 48px;
    position: absolute;
    left: 50%;
    top: 4px;
    margin-left: -36px;
    text-indent: -9999px;
    display: block;
    @include svg-or-not('img/sprite');
    @include transform3d(translate3d(0,0,0));
    
    @include respond-min($break-skinny) {
        left: 35%;
    }

    @include respond-min($break-medium) {
        width: 156px;
        height: 87px;
        margin: 0 20px 0 0;
        float: left;
        position: static;
        background-position: 0 -50px;
    }
}

#cp {
    display: none;

    @include respond-min($break-medium) {
        display: block;
    }
}
