.header {
    margin-bottom: $margin;

    @include min-screen($lap) {
        background: $body-bg-color;
        padding: $gutter 0 0;
        border-bottom: 1px solid $border-color;
    }
}

.cp {
    display: none;

    @include min-screen($lap) {
        display: block;
    }
}
