#header {
    margin-bottom: $margin;

    @include respond-min($palm) {
        background: $body-bg-color;
        padding: $gutter 0 0;
        border-bottom: 1px solid $border-color;
    }
}

#cp {
    display: none;

    @include respond-min($palm) {
        display: block;
    }
}
