#maincontent {
    padding: $gutter-skinny 0;

    @include respond-min($break-medium) {
        padding: 0 0 $gutter;
    }
}

.maincontent-header {
}

.maincontent-body {

    p {
        margin: 0 0 $gutter;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}