.main-content {
    padding: 0;

    @include min-screen($lap) {
    }
}

.main-content-header {
}

.main-content-body {
}

p {
    margin: $margin 0;
    
    &:last-child {
        margin-bottom: 0;
    }
}
