.maincontent {
    padding: $gutter-skinny 0;

    @include min-screen($lap) {
        padding: 0;
    }
}

.maincontent-header {
}

.maincontent-body {
}

p {
    margin: $line-height 0;
    
    &:last-child {
        margin-bottom: 0;
    }
}
