#mainmenu {
    width: $mobile-menu-width;
    height: 100%;
    position: absolute;
    top: 0;
    left: -$mobile-menu-width;
    z-index: 1000;
    border-right: 1px solid $border-color;
    background: $nav-bg-color;
    @include backface-visibility(hidden);
    @include perspective(1000);
    
    .csstransforms3d & {
        left: 0;
        @include transform3d(translate3d(-100%, 0, 0));
    }

    .active-menu & {
        overflow: auto;
        overflow-x: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;

        @include respond-min($break-medium) {
            overflow: visible;
        }
    }
    
    .touch.no-overflow-scroll.active-menu & {
        overflow: visible;
    }

    @include respond-min($break-skinny) {
        width: $skinny-menu-width;
        left: -$skinny-menu-width;
        z-index: 10;
    }

    @include respond-min($break-medium) {
        width: 100%;
        height: auto;
        float: left;
        position: static;
        border: none;
        @include box-shadow(none);

        .csstransforms3d & {
            @include transform3d(translate3d(0, 0, 0));
        }

        @include old-ie {
            float: none;
        }
    }
    
    @include old-ie {
        width: 100%;
        height: auto;
        float: left;
        position: static;
    }

    #main-menu {
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
        border-top: 1px solid $border-color;

        @include respond-min($break-medium) {
            border-top: none;
        }

        .toggle-sub {
            width: 50px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1200;
            cursor: pointer;
            display: block;
            border-left: 1px solid $border-color;
            
            &:after {
                content: '';
                width: 0;
                height: 0;
                border: 8px solid transparent;
                border-top: 8px solid #000;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -8px;
                margin-top: -4px;
            }
        }
        
        .toggle-sub-close {
            
            &:after {
                border: 8px solid transparent;
                border-bottom: 8px solid #000;
                margin-top: -12px;
            }
        }
        
            
    }

    .menu-item {
        width: 100%;
        float: left;
        position: relative;
        display: block;

        @include respond-min($break-medium) {
            width: auto;
            float: left;
        }
    }

    a {
        display: block;
        padding: $gutter-skinny $gutter;
        position: relative;
        border-bottom: 1px solid $border-color;
        text-decoration: none;

        @include respond-min($break-medium) {
            padding: $gutter-skinny;
            border-bottom: none;
        }

        @include respond-min($break-desktop) {
            padding: $gutter-skinny $gutter;
            float: left;
        }

        &:hover, &:focus {
            background: $border-color;

            @include respond-min($break-medium) {
            }
        }
    }

    .current_page_item
    , .current-menu-item
    , .current-page-ancestor
    , .current_page_parent
    {

        a {
        }

        @include respond-min($break-medium) {
            background: $border-color;
            @include box-shadow(none);
            @include background-image(none);
        }
    }

    .current_page_item {

        a {

            &:after {
                @extend %navfeedback;
                border-right: 8px solid $border-color;
                right: 0;
                top: 50%;
                margin-top: -8px;

                @include respond-min($break-medium) {
                    display: none;
                }
            }
        }

        @include respond-min($break-medium) {
            &:after {
                display: none;
            }
        }

        .sub-menu {

            a {

                &:after {
                    display: none;
                }
            }
        }
    }

    .current_page_ancestor {

        @include respond-min($break-medium) {
            a {
            }
        }
    }
    
    .sub-menu {
        width: 100%;
        margin: 0;
        padding: 0;
        display: none;
        float: left;
        position: relative;
        z-index: 10000;
        border: none;
        background: #fff;
    
        .current_page_parent &, .current-menu-parent & {
            display: block;
        }
    
        .current_page_ancestor &, .current-menu-item & {
            display: block;
            
            @include respond-min($break-medium) {
                display: none;
            }
        }
    
        .current_page_ancestor .menu-item & {
            display: none;
        }
    
        .current_page_ancestor .current_page_ancestor & {
            display: block;
        }
    
        .menu-item {    
            width: 100%;
    
            a {
                width: 100%;
                float: left;
                border-bottom: 1px solid $border-color;
    
                @include respond-min($break-medium) {
                    padding: 8px $gutter-skinny;
                    color: $body-color;
                    border: none;
                    border-bottom: 1px solid $border-color;
                    white-space: nowrap;
                }
                
                &:hover, &:focus {
                    background: $border-color;
                }
            }
            
            &:last-child {
                
                a {
                
                    @include respond-min($break-medium) {
                        border: none;
                    }
                }
            }
        }
    
        &.active-sub {
            display: block !important;
            float: left;
        }
    
        &.closed-sub {
            display: none !important;
        }
    
        @include respond-min($break-medium) {
            width: 200px;
            margin-top: -4px;
            position: absolute;
            top: 100%;
            left: 0;
            border: 1px solid $border-color;
            background: #fff;
        }
        
        &:before {
            
            @include respond-min($break-medium) {
    /*
                content: '';
                width: 0;
                height: 0;
                border: 6px solid transparent;
                border-bottom: 6px solid #fff;
                position: absolute;
                margin-left: -3px;
                left: 50%;
                top: -12px;
    */
            }
        }
    }
}
