.mobile-header {
    width: 100%;
    height: auto;
    padding: 0 $gutter-skinny;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid $border-color;
    @include transform3d(translate3d(0, 0, 0));

    @include respond-min($break-medium) {
        display: none;
    }
}

.mobile-header-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    @include inline-block;
}

.mobile-header-menuitem {
    @extend %ul-nostyling;
    @include inline-block;
    
    a {
        padding: $gutter-skinny;
        text-decoration: none;
        display: block;

        &:active, &:focus, &:hover {
            text-decoration: none;
        }
    }
}

#content-toggler {
    display: none;
}

.mob-hide {
    display: none;

    @include respond-min($break-medium) {
        display: block;
    }
}