#submenu {
    display: table-caption;
    float: none;

    @include respond-min($palm) {
        margin-bottom: $margin;
        float: left;
        clear: none;
        display: block;
        border: 1px solid $border-color;
    }

    ul {
        width: 100%;
        margin: 0;
        padding: 0;
        border: 1px solid $border-color;
        @include inline-block;
        
        @include respond-min($palm) {
            border: 0;
        }
    }

    li {
        width: 100%;
        margin: 0;
        padding: 0;
        float: left;
        display: block;
        background: transparent;

        @include respond-min($palm) {
            margin-bottom: 0;
        }
        
        &:last-child {
            
            a {
                border: 0;
            }
        }
    }

    a {
        display: block;
        padding: $gutter-skinny;

        @include respond-min($palm) {
            border-bottom: 1px solid $border-color;
            background: transparent;
        }

        &:active {
        }

        &:hover,
        &:focus {
            background: $border-color;
        }
    }

    .current_page_item a {
        font-weight: bold;
    }
}
