// Section in a sidebar
.aside__section {
    width: 100%;
    margin-bottom: pt(2);
    padding: pt(2);
    border: 1px solid $border;
    word-break: break-word;

    @media (min-width: $mq--lap) {
        margin-bottom: pt(4);
        padding: pt(2);
    }

    &:last-child {
    }

    img {
        margin-bottom: pt(2);
        border-radius: 0;
    }

    ul, ol {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    a {
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    iframe {
    }


    // Sidebar section title
    &__header {
        margin: 0 0 pt(1);
        font-weight: bold;
        font-size: $fs-def;

        @media (min-width: $mq--lap) {
        }

        a {
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
}


// Nav feedback
.current-cat {
    font-weight: bold;
}
