// Preferred lazy loader
// http://dinbror.dk/blog/blazy/
.b-lazy {
    opacity: 0;
    transition: all .25s ease-in;

    // When loaded
    &.b-loaded {
        opacity: 1;
    }

    // If there's an error loading the image
    &.b-error {
    }
}
