//*
// Preferred lazy loader: http://dinbror.dk/blog/blazy/   
//*
.b-lazy {
    transition: all .25s cubic-bezier(0,.95,.71,1.22);
    opacity: 0;
    transform: scale(.3);

    &.b-loaded {
       opacity: 1;
       transform: scale(1);
    }

    &.b-error {
    }
}
