// These styles are for custom breadcrumbs
.breadcrumbs {
    width: 100%;
    margin: 0 0 $pt--kilo;
    padding: 0;
    float: left;
    list-style-type: none;

    > li {
        float: left;
    }

    a {
        margin-right: $pt--kilo;
        padding-right: $pt--kilo;
        position: relative;
        display: block;
        text-decoration: none;
        transition: all .15s ease;

        @media (min-width: $mq--lap) {
            margin-right: $pt--deca;
            padding-right: $pt--deca;
        }

        &:hover,
        &:focus {
            color: $body;
            text-decoration: underline;
        }

        &:after {
        }
    }
}
