.breadcrumbs {
    width: 100%;
    margin: 0 0 $margin;
    padding: 0;
    float: left;
    list-style-type: none;

    > li {
        float: left;
    }

    a {
        margin-right: $margin--centi;
        padding-right: $padding--centi;
        position: relative;
        display: block;
        text-decoration: none;
        transition: all .15s ease;

        @media (min-width: $mq--lap) {
            margin-right: $margin--deci;
            padding-right: $padding--deci;
        }

        &:hover,
        &:focus {
            color: $body;
            text-decoration: underline;
        }

        &:after {
        }
    }
}
