// A button
.btn {
    width: 100%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    @media (min-width: $mq--lap) {
        width: auto;
    }

    &:hover,
    &:focus {
    }

    &--primary {
        @extend %btn-primary;
    }

    &--secondary {

    }

    &--block {
        width: 100%;
        padding-right: pt(1);
        padding-left: pt(1);
        display: block;
    }
}
