// *
// Container for comments
// *
.comments-area {
}

#reply-title {
    margin: 0 0 $margin;
}


// *
// A comment, trackback, pingback or response
// *
.comment,
.trackback,
.pingback,
#respond {
    width: 100%;
    padding: $padding--skinny 0;
    position: relative;
    float: left;
    border-bottom: 2px solid $border;
    background: transparent;

    .children .comment.depth-2 {
        margin-bottom: $margin;

        &:last-child {
            margin: 0;
        }
    }

    @media (min-width: $mq--lap) {
        margin: 0 0 $margin--skinny;
        padding: $padding;
        border: 1px solid $border;
    }
}

#respond {
    margin-bottom: 0;
}

.fn {
    font-style: normal;

    a {
        color: $mute--hover;
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}


// *
// The comment body
// *
.comment__body {
}


// *
// The author name
// *
.comment__author {
    width: 100%;
    float: left;
    font-weight: bold;
    line-height: 32px;

    @media (min-width: $mq--lap) {
        margin-bottom: $margin;
        font-weight: normal;
    }
}


// *
// The avatar
// *
.avatar {
    width: auto;
    height: auto;
    float: right;
    border-radius: 0;
    box-shadow: $shadow;

    @media (min-width: $mq--lap) {
        margin-right: $margin--skinny;
        vertical-align: top;
        float: none;
    }
}


// *
// Text
// *
.says {

}


// *
// Comment meta info
// *
.comment__meta {
    font-size: $type-meta;

    @media (min-width: $mq--lap) {
        padding-top: 20px;
        position: absolute;
        top: 0;
        right: $gutter;
        line-height: 32px;
    }

    a {
        color: $mute;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $mute--hover;
        }
    }
}

.reply {

}


// *
// The nr. of responses
// *
.comments-area__header {
    margin: 0 0 $margin;
}

.comments-area__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.comment__author__admin,
.bypostauthor {
}


// *
// Replies
// *
.children {
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;

    .comment {
        margin: 0;
        padding: $padding--skinny 0 0 $padding--skinny;
        border-top: 1px solid $border;
        border-bottom: 0;

        @media (min-width: $mq--lap) {
            padding: $padding--skinny;
            border-bottom: 1px solid $border;
        }
    }
}


// *
// Link for replying
// *
.comment__reply__link {
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: underline;
    }
}


// *
// Text
// *
.logged-in-as {

}

.form__submit {
    @extend %form__row;
    margin: 0;
}
