// Input sizes
input {
    width: 100%;
    padding: pt(1);
    font-size: $font-size;
    font-family: $font-family--default;

    @media (min-width: $mq--lap) {
        width: 50%;

        aside section & {
            width: 100%;
        }
    }
}

textarea {
    width: 100%;
    height: pt(12);
    padding: pt(1);
    font-size: $font-size;
    font-family: $font-family--default;
}

input[type="file"] {
    padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: pt(2);
}

input[type="submit"] {

    @media (min-width: $mq--lap) {
        width: auto;
    }
}

input[type="search"] {
    box-sizing: border-box;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}


// The form
.main form {
    position: relative;
    z-index: 1;
}

.formcontainer {
    margin: 0;
    padding: 0;
    clear: both;
    border: 0;

    @media (min-width: $mq--lap) {
        width: 100%;
        float: left;
    }
}


// A single row
.form-row {
    @extend %formrow;

    li { // List with radio/checkboxes
        margin-right: 12px;
        padding: 0;
        display: inline-block;
        background: none;

        input {
            width: auto;
            margin-right: 2px;
        }

        label {
            width: auto;
            display: inline;
            clear: none;
        }
    }

    // Form field explanation. Using a small element is preferrable
    .input-exp {
        display: block;
        font-size: $font-meta;
    }
}

label,
.label {
    width: 100%;
    display: block;
    clear: both;

    &:hover,
    &:focus {
        cursor: pointer;
    }

    small {
        font-size: 100%;
    }
}


// Other elements
#screenreader,
#loading {
    display: none;
}


// Required style
.req {
    font-size: $font-size;
    color: $mute;
}


// Error messages
.parsley-error {

    &-list {
        display: none;
    }
}

.error,
.filled {
    margin: 0;
    padding: 0;
    display: block;
    color: $error;

    > li {
        margin: 0;
    }
}
