// Text align helpers
.text {

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }
}

// Responsive images
.img-responsive {
    height: auto;
    max-width: 100%;
}


// Display helpers
.is {

    &--hidden {
        @include screenreader--hide();
    }
}
