.alignnone {
    @extend %postimage;

    @media (min-width: $mq--palm) {
        width: auto;
        margin: $margin $margin $margin 0;
    }
}

.aligncenter,
div.aligncenter {
    @extend %postimage;

    @media (min-width: $mq--palm) {
        margin: $margin auto;
        display: block;
    }
}

.alignright {
    @extend %postimage;

    @media (min-width: $mq--palm) {
        width: auto;
        margin: 0 0 $margin $margin;
        float: right;
    }
}

.alignleft {
    @extend %postimage;

    @media (min-width: $mq--palm) {
        width: auto;
        margin: 0 $margin $margin 0;
        float: left;
    }
}

a img {
    @extend %postimage;

    &.alignright {

        @media (min-width: $mq--palm) {
            width: auto;
            margin: $margin 0 $margin $margin;
            float: right;
        }
    }

    &.alignnone {

        @media (min-width: $mq--palm) {
            width: auto;
            margin: $margin $margin $margin 0;
        }
    }

    &.alignleft {

        @media (min-width: $mq--palm) {
            width: auto;
            margin: $margin $margin $margin 0;
            float: left;
        }
    }

    &.aligncenter {

        @media (min-width: $mq--palm) {
            margin-right: auto;
            margin-left: auto;
            display: block;
        }
    }
}


//
// The caption
//
.wp-caption {
    @extend %postimage;
    margin: $margin--m 0;
    padding: $margin--m;
    border: 1px solid $border;
    border-radius: 0;
    background: $color--white;
    text-align: center;

    img {
        width: 100%;
        height: auto;
        max-width: 100%;
        margin: 0 0 $margin--m;
        padding: 0;
        display: block;
        border: 0 none;

        @media (min-width: $mq--palm) {
            max-width: auto;
        }
    }

    @media (min-width: $mq--palm) {
        width: auto;
        max-width: none;
    }

    p.wp-caption-text {
        margin: $margin--m 0 0;
        display: block;
        font-size: $type-meta;
    }


    &.alignnone {

        @media (min-width: $mq--palm) {
            margin: $margin $margin $margin 0;
        }
    }

    &.alignleft {

        @media (min-width: $mq--palm) {
            margin: 0 $margin $margin 0;
        }
    }

    &.alignright {

        @media (min-width: $mq--palm) {
            margin: 0 0 $margin $margin;
        }
    }
}


//
// A post thumbnail
//
.post-thumbnail {
    @extend %postimage;

    @media (min-width: $mq--palm) {
        width: auto;
        margin: $margin 0;
    }

    @media (min-width: $mq--palm) {
        margin: 0 0 $margin $margin;
        float: right;
    }
}
