// The menu
.mainmenu {

    @media (min-width: $mq--palm) {
    }

    @media (min-width: $mq--lap) {
        width: 100%;
        height: auto;
        float: left;
    }
}


// Unordered list
.main-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    overflow-x: auto;
    background: $nav-bg;
    list-style-type: none;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    @media (min-width: $mq--lap) {
        width: $site--width;
        border-top: 0;
    }
}


// A single item
.menu-item {
    position: relative;
    display: inline-block;

    .sub-menu {
        left: -100%;
        display: none;
    }

    @media (min-width: $mq--lap) {
        position: relative;
        float: left;
    }

    > a {
        padding: pt(2);
        display: inline-block;
        text-decoration: none;
        transition: all .15s ease-out;

        @media (min-width: $mq--palm) {
        }

        @media (min-width: $mq--lap) {
            padding: pt(2) pt(4);
            position: relative;
            float: left;
        }

        &:hover,
        &:focus {
            background: $border;

            @media (min-width: $mq--lap) {
            }
        }
    }
}

.show-sub {
    display: block;

    > a {
        background: $border;
    }
}


// Nav feedback
.current_page_item,
.current-menu-item,
.current-page-ancestor,
.current_page_parent {

    a {
        background: $mute;
    }

    @media (min-width: $mq--lap) {
    }
}


// The current item
.current_page_item {

    a {

        &:after {

        }
    }

    @media (min-width: $mq--lap) {

        &:after {
        }
    }

    .sub-menu {

        a {

            &:after {
            }
        }
    }
}

.current_page_ancestor {

    @media (min-width: $mq--lap) {

        a {
        }
    }
}

.sub-enter {

    > a {
        @media (min-width: $mq--lap) {
            background: $border;
        }
    }
}


// The sub-menu menu
.has-submenu {
}

.sub-menu {
    width: 200%;
    height: 0;
    max-height: 110px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1100;
    float: left;
    overflow: auto;
    border: 0;
    background: darken($color--gray-13, 5%);
    transition: all .15s cubic-bezier(.075, .085, .075, 1.175);

    @media (min-width: $mq--lap) {
        position: absolute;
        top: 100%;
        left: 0;
        border: 1px solid $border;
        background: $color--white;
    }

    .active-sub & {
        height: 110px;
        border-bottom: 1px solid $border;
        opacity: 1;
    }

    .current_page_parent &,
    .current-menu-parent & {

        @media (min-width: $mq--lap) {
            display: none;
        }
    }

    .current_page_ancestor &,
    .current-menu-item & {

        @media (min-width: $mq--lap) {
            display: none;
        }
    }

    .current_page_ancestor .menu-item & {
        display: none;
    }

    .current_page_ancestor .current_page_ancestor & {
        display: block;
    }

    // When hoverin
    .show-sub & {
        display: block;
    }

    .menu-item {

        &:nth-child(2n+1) {
            border-right: 1px solid $color--white;
        }

        a {
            border-bottom: 1px solid $color--white;
            background: $color--gray-13;

            @media (min-width: $mq--lap) {
                padding: 8px pt(2);
                border: 0;
                border-bottom: 1px solid $border;
                background: transparent;
                color: $body;
                white-space: nowrap;
            }

            &:hover,
            &:focus {
                background: $border;
            }
        }

        &:last-child {

            a {

                @media (min-width: $mq--lap) {
                    border: 0;
                }
            }
        }
    }

    &.active-sub {
        display: block !important;
        float: left;
    }

    &.closed-sub {
        display: none !important;
    }
}
