// *
// The menu
// *
.mainmenu {

    @media (min-width: $mq--palm) {
    }

    @media (min-width: $mq--lap) {
        width: 100%;
        height: auto;
        margin-bottom: $margin;
        float: left;
    }
}




// *
// Unordered list
// *
.main-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    white-space: nowrap;
    background: $nav-bg;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    list-style-type: none;

    @media (min-width: $mq--lap) {
        width: $site--width;
        border-top: 0;
    }
}




// *
// A single item
// *
.menu-item {
    display: inline-block;
    position: relative;
    
    .sub-menu {
        display: none;
        left: -100%;
    }

    @media (min-width: $mq--lap) {
        float: left;
        position: relative;
    }
    
    > a {
        padding: $padding--skinny $padding--skinny;
        display: inline-block;
        text-decoration: none;
        transition: all .15s ease-out;

        @media (min-width: $mq--palm) {
            padding: $padding--skinny;
        }

        @media (min-width: $mq--lap) {
            padding: $padding--skinny $padding;
            float: left;
            position: relative;
        }

        &:hover, &:focus {
            background: $border;

            @media (min-width: $mq--lap) {
            }
        }
    }
}

.show-sub {
    display: block;
    
    > a {
        background: $border;
    }
}




// *
// For nav feedback
// *
.current_page_item,
.current-menu-item,
.current-page-ancestor,
.current_page_parent {

    a {
        background: $mute;
    }

    @media (min-width: $mq--lap) {
    }
}




// *
// The current item
// *
.current_page_item {

    a {

        &:after {

        }
    }

    @media (min-width: $mq--lap) {
    
        &:after {
        }
    }

    .sub-menu {

        a {

            &:after {
            }
        }
    }
}

.current_page_ancestor {

    @media (min-width: $mq--lap) {
    
        a {
        }
    }
}

.sub-enter {

    > a {         
        @media (min-width: $mq--lap) {
            background: $border;
        }
    }
}




// *
// The sub-menu menu
// *
.has-submenu {
}

.sub-menu {
    width: 200%;
    height: 0;
    max-height: 110px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1100;
    float: left;
    border: 0;
    overflow: auto;
    background: darken(#eee, 5%);
    transition: all .15s cubic-bezier(0.075, 0.085, 0.075, 1.175);
    
    @media (min-width: $mq--lap) {
        position: absolute;
        top: 100%;
        left: 0;
        border: 1px solid $border;
        background: #fff;
    }
    
    .active-sub & {
        height: 110px;
        opacity: 1;
        border-bottom: 1px solid $border;
    }

    .current_page_parent &,
    .current-menu-parent & {
        
        @media (min-width: $mq--lap) {
            display: none;
        }
    }

    .current_page_ancestor &,
    .current-menu-item & {
        
        @media (min-width: $mq--lap) {
            display: none;
        }
    }

    .current_page_ancestor .menu-item & {
        display: none;
    }

    .current_page_ancestor .current_page_ancestor & {
        display: block;
    }
    
    // When hoverin
    .show-sub & {
        display: block;
    }

    .menu-item {    
        
        &:nth-child(2n+1) {
            border-right: 1px solid #fff;   
        }

        a {
            border-bottom: 1px solid #fff;
            background: #eee;

            @media (min-width: $mq--lap) {
                padding: 8px $padding--skinny;
                color: $body;
                border: 0;
                border-bottom: 1px solid $border;
                white-space: nowrap;
                background: transparent;
            }
            
            &:hover,
            &:focus {
                background: $border;
            }
        }
        
        &:last-child {
            
            a {
            
                @media (min-width: $mq--lap) {
                    border: 0;
                }
            }
        }
    }

    &.active-sub {
        display: block !important;
        float: left;
    }

    &.closed-sub {
        display: none !important;
    }
}