// The menu
.mainmenu {

    @media (min-width: $mq--palm) {
    }

    @media (min-width: $mq--lap) {
        width: 100%;
        height: auto;
    }
}


// Unordered list
.main-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    overflow-x: auto;
    background: $nav-bg;
    list-style-type: none;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    @media (min-width: $mq--lap) {
        border-top: 0;
    }
}


// A single item
.menu-item {
    position: relative;
    display: inline-block;

    .sub-menu {
    }

    @media (min-width: $mq--lap) {
        position: relative;
    }

    > a {
        padding: pt(2);
        display: inline-block;
        text-decoration: none;
        transition: all .15s ease-out;

        @media (min-width: $mq--palm) {
        }

        @media (min-width: $mq--lap) {
            padding: pt(2) pt(4);
            position: relative;
        }

        &:hover,
        &:focus {
            background: $border;

            @media (min-width: $mq--lap) {
            }

            + .sub-menu {
                opacity: 1;
                z-index: 300;
                pointer-events: all;
                top: 100%;
            }
        }
    }

    &:hover,
    &:focus,
    &:focus-within {

        .sub-menu {
            opacity: 1;
            z-index: 300;
            pointer-events: all;
            top: 100%;
        }
    }
}


// Nav feedback
.current_page_item,
.current-menu-item,
.current-page-ancestor,
.current_page_parent {

    a {
        background: $mute;
    }

    @media (min-width: $mq--lap) {
    }
}


// The current item
.current_page_item {

    a {

        &:after {

        }
    }

    @media (min-width: $mq--lap) {

        &:after {
        }
    }
}

.current_page_ancestor {

    @media (min-width: $mq--lap) {

        a {
        }
    }
}


// The sub-menu
.sub-menu {
    min-width: 200px;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    transition: all .25s ease;

    @media (max-width: $mq--lap) {
        margin-bottom: pt(1);
    }

    @media (min-width: $mq--lap) {
        width: auto;
        padding-top: pt(.5);
        position: absolute;
        top: calc(100% + #{pt(1)});
        left: pt(1);
        background: $color--white;
        opacity: 0;
        z-index: -1;
        pointer-events: none;
        box-shadow: rgba($color--black, .14) 0 0 4px;
    }

    .menu-item {
        width: 100%;
        display: block;

        @media (max-width: $mq--lap) {
            padding-left: pt(2);
        }

        a {
            width: 100%;
            padding: pt(.5) pt(1);
            display: block;

            @media (min-width: $mq--lap) {
                padding: pt(.75) pt(1.75);
                color: $body;
                white-space: nowrap;
                background: $color--white;
            }

            &:hover,
            &:focus {
                color: $link
            }

            &:after {
                display: none;
            }
        }

        &:last-child {

            a {

                @media (min-width: $mq--lap) {
                    border: 0;
                }
            }
        }
    }
}
