// *
// Unordered list
// *
.paging {
    @extend %remove-style;
    
    > li {
        float: left;
        
        > a {
            margin-right: $padding-small;
            padding: $padding-small $padding-skinny;
            display: block;
            float: left;
            border: 1px solid $border-color;
            color: $body-color;
            text-decoration: none;
            
            &:hover,
            &:focus {
                background: $border-color;
            }
        }
    }
}




// *
// Next & prev
// *
.paging-navigation {
    
}

.paging-next {
    
}

.paging-left {
    
}




// *
// A list item
// *
.page-number {
    display: none;
            
    @media (min-width: $lap) {
        display: block;
    }
}




// *
// Extra current class on page-number
// *
.active-page {
    
    > a {
        background: $border-color;
    }
}
