// Unordered list
.paging {
    margin: 0;
    padding: 0;
    list-style-type: none;

    > li {

        > a {
            margin-right: pt(1);
            padding: pt(1) pt(2);
            display: block;
            border: 1px solid $border;
            color: $body;
            text-decoration: none;

            &:hover,
            &:focus {
                background: $border;
            }
        }

        > span {
            margin-right: pt(1);
            padding: pt(1) pt(2);
            display: block;
            border: 1px solid transparent;
            color: $body;
            text-decoration: none;
        }
    }


    // Next & prev
    &__navigation {

        &--prev {
        }

        &--next {
        }
    }


    // A list item
    &__number {
        display: none;

        @media (min-width: $mq--lap) {
            display: block;
        }

        &--active {

            > a {
                background: $border;
            }
        }
    }
}
