// Single post
.post {
    @extend %post;


    // Post title
    &__header {
        margin: 0;
        word-break: break-word;

        a {
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }

    .single-post__header {
        margin-bottom: pt(4);
    }


    // Post content
    &__entry {
        word-break: break-word;
    }


    // Blog nav
    &-nav {
        text-align: center;

        @media (min-width: $mq--lap) {
            text-align: left;
        }
    }


    // Post meta
    &__meta {
        color: $mute;

        .single-post & {
            margin-top: pt(1)
        }

        a {
            color: $mute;
            text-decoration: none;

            &:hover,
            &:focus {
                color: $mute--hover;
                text-decoration: underline;
            }
        }
    }


    // Continue reading & nr. of comments
    &__options {

        a {
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
}

.type-attachment {
    @extend %post;
}

// Sticky post
.sticky {
}
