// *
// The form
// *
.searchform {
    width: 100%;
    padding: $padding--skinny;
    display: none;
    clear: both;




    // *
    // When in nav
    // *
    nav & {
        display: block;
        background: $nav-bg;
        background: rgba($nav-bg, .96);
        border-top: 1px solid $border;
    }




    // *
    // When in content
    // *
    .page-content & {
        padding: 0;
        display: block;
    }




    // *
    // When in header
    // *
    .header & {

        @media (min-width: $mq--lap) {
            width: 30%;
            padding: 0;
            float: right;
            clear: none;
            display: block;
            background: transparent;
            text-align: left;
        }




        // *
        // The search input
        // *
        .searchform__container__field {
            width: 100%;
            clear: both;

            @media (min-width: $mq--lap) {
                width: 70%;
                float: left;
            }
        }
    }
}

.searchform__container__button {
    display: none;
    
    @media (min-width: $mq--lap) {
        width: 30%;
        float: left;
        display: block;
    }
}




// *
// Search form fieldset
// *
.searchform__container {
    margin: 0;
    padding: 0;
    line-height: 40px;
}
