// Section in a sidebar
.sidebar__section {
    width: 100%;
    margin-bottom: $pt--deca;
    padding: $pt--deca;
    float: left;
    border: 1px solid $border;
    word-break: break-word;

    @media (min-width: $mq--lap) {
        margin-bottom: $pt--kilo;
        padding: $pt--deca;
    }

    &:last-child {
    }

    img {
        margin-bottom: $pt--deca;
        border-radius: 0;
    }

    ul, ol {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    a {
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    iframe {
        float: left;
    }
    
    
    // Sidebar section title
    &__header {
        margin: 0 0 $pt;
        font-weight: bold;
        font-size: $type-body;
    
        @media (min-width: $mq--lap) {
        }
    
        a {
            text-decoration: none;
    
            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
}


// Nav feedback
.current-cat {
    font-weight: bold;
}
