.sidebar__section {
    width: 100%;
    margin-bottom: $margin--skinny;
    padding: $padding--skinny;
    float: left;
    border: 1px solid $border;

    @media (min-width: $mq--lap) {
        margin-bottom: $margin;
        padding: $padding;
    }

    &:last-child {
    }

    img {
        margin-bottom: $margin;
        border-radius: 0;
    }

    ul {

    }

    a {
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    iframe {
        float: left;
    }
    
    
    // *
    // Sidebar section title
    // *
    &__header {
        margin: 0 0 $margin--skinny;
        font-weight: bold;
        font-size: $type-body;
    
        @media (min-width: $mq--lap) {
            margin-bottom: $margin;
        }
    
        a {
            text-decoration: none
    
            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }
}


// *
// Nav feedback
// *
.current-cat {
    font-weight: bold;
}
