// Default SASS values
// =================================================================
$default-border-radius: 3px;
$default-box-shadow: (rgba(0, 0, 0, .25) 0 1px 1px);
$default-text-shadow: (rgba(0, 0, 0, .45) 0 1px 1px);
