// Font sizes
// =================================================================
$base-size: 16px;
$body-size: 14px;
$line-height: 1.8;

$text-small: 11px;
$text-skinny: 12px;
$text-medium: 14px;
$text-large: 16px;


// Font families
// =================================================================
$body-font: Arial, Verdana, sans-serif;         // Websafe font family
$special-font: Arial, Verdana, sans-serif;      // Special font, for example a google font. Use google fonts locally for a better pagespeed score
$sec-font: Georgia, "Times new roman", serif;
