// Define sizes here, use them later on
// -----------------------------------------------------------------
$f-wrist: 11px;
$f-palm: 12px;
$f-lap: 14px;
$f-desk: 16px;
$f-wall: 18px;
$f-cinema: 20px;


// Font sizes
// -----------------------------------------------------------------
$text-wrist: $f-wrist;
$text-palm: $f-palm;
$text-lap: $f-lap;
$text-desk: $f-desk;
$text-wall: $f-wall;
$text-cinema: $f-cinema;


// Standard site sizes
// -----------------------------------------------------------------
$base-size: $text-desk;
$body-size: $text-lap;

// Calculate the line-height according to the golden ratio
// http://www.pearsonified.com/typography/
// $line-height: 28px;

// Remove units
// -----------------------------------------------------------------
@function strip-units($number) {
    @return $number / ($number * 0 + 1);
}

// http://www.pearsonified.com/2011/12/golden-ratio-typography.php
$golden-ratio: 1.61803398875;
$line-height: $golden-ratio - (1 - ((strip-units($max-width)) / (((strip-units($body-size)) * $golden-ratio) * ((strip-units($body-size)) * $golden-ratio)))) * (1 / (2 * $golden-ratio));


// Font families
// -----------------------------------------------------------------
$body-font: Arial, Verdana, sans-serif;         // Websafe font family
$special-font: Arial, Verdana, sans-serif;      // Special font, for example a google font. Use google fonts locally for a better pagespeed score
$sec-font: Georgia, "Times new roman", serif;
