// Define sizes here, use them later on
// =================================================================
$f-wrist: 11px;
$f-palm: 12px;
$f-lap: 14px;
$f-desk: 16px;
$f-wall: 18px;
$f-cinema: 20px;


// Font sizes
// =================================================================
$text-wrist: $f-wrist;
$text-palm: $f-palm;
$text-lap: $f-lap;
$text-desk: $f-desk;
$text-wall: $f-desk;
$text-cinema: $f-desk;


// Standard site sizes
// =================================================================
$base-size: $text-desk;
$body-size: $text-lap;
$line-height: 1.8;


// Font families
// =================================================================
$body-font: Arial, Verdana, sans-serif;         // Websafe font family
$special-font: Arial, Verdana, sans-serif;      // Special font, for example a google font. Use google fonts locally for a better pagespeed score
$sec-font: Georgia, "Times new roman", serif;
