// Header sizes
// =================================================================
$header-1: 2 * $body-size;
$header-2: 1.5 * $body-size;
$header-3: 1.17 * $body-size;
$header-4: 1 * $body-size;
$header-5: 1 * $body-size;
