// Define sizes here, use them later on
// =================================================================
$s-wrist: 7px;
$s-palm: 14px;
$s-lap: 28px; // Ideally this would be the same as the $line-height variable
$s-desk: 35px;
$s-wall: 42px;
$s-cinema: 56px;


// Gutters
// =================================================================
$gutter-small: $s-wrist;
$gutter-skinny: $s-palm;
$gutter: $s-lap;
$gutter-large: $s-desk;


// Margins
// =================================================================
$margin-small: $s-wrist;
$margin-skinny: $s-palm;
$margin: $s-lap;
$margin-large: $s-desk;


// Paddings
// =================================================================
$padding-small: $s-wrist;
$padding-skinny: $s-palm;
$padding: $s-lap;
$padding-large: $s-desk;


// Other sizes
// =================================================================
$input-padding: 4px;
