// Define sizes here, use them later on
// =================================================================
$s-wrist: 5px;
$s-palm: 10px;
$s-lap: 20px;
$s-desk: 30px;
$s-wall: 40px;
$s-cinema: 60px;


// Gutters
// =================================================================
$gutter-small: $s-wrist;
$gutter-skinny: $s-palm;
$gutter: $s-lap;
$gutter-large: $s-desk;


// Margins
// =================================================================
$margin-small: $s-wrist;
$margin-skinny: $s-palm;
$margin: $s-lap;
$margin-large: $s-desk;


// Paddings
// =================================================================
$padding-small: $s-wrist;
$padding-skinny: $s-palm;
$padding: $s-lap;
$padding-large: $s-desk;


// Other sizes
// =================================================================
$input-padding: 4px;
