// Responsive breakpoints
// =================================================================
$wrist: 30em; /* 480px */
$palm: 46.875em; /* 750px */
$lap: 60.625em; /* 970px */
$desk: 73.125em; /* 1170px */
$wall: 89.375em; /* 1430px */
$cinema: 100em; /* 1600px */
