/* Responsive breakpoints
=================================================================*/
$break-skinny: 30.000em; /* 480px */
$break-medium: 48.000em; /* 768px */
$break-desktop: 62.000em; /* 992px */
$break-widescreen: 87.500em; /* 1400px */

/* Extra intermediate breakpoints
=================================================================*/