// Responsive breakpoints
// -----------------------------------------------------------------
// $wrist is the variable name from 0 to 480
$palm: 30em;            // 480px
$lap: 46.875em;         // 750px
$desk: 60.625em;        // 970px
$wall: 73.125em;        // 1170px
$cinema: 89.375em;      // 1430px
