$icons--menu-toggle-down: 0, 0, 9, 12;
$icons--menu-toggle-up: 0, -9, 9, 12;

$sprite-size-x: 12px;
$sprite-size-y: 18px;

@mixin sprite($sprite) {

    $sprite-x: nth($sprite, 1) * 1px;
    $sprite-y: nth($sprite, 2) * 1px;
    $sprite-height: nth($sprite, 3) * 1px;
    $sprite-width: nth($sprite, 4) * 1px;
    
    width: $sprite-width;
    height: $sprite-height;
    background-position: $sprite-x $sprite-y;
    background-image: url('images/sprite.svg');
    background-repeat: no-repeat;

}

@mixin sprite-rule($sprite, $property) {
    
    $sprite-width: nth($sprite, 4) * 1px;
    #{ $property }: $sprite-width;
    
}
