$sprite-menu-toggle-down: 0, 0, 0.9, 1.2;
$sprite-menu-toggle-up: 0, -0.9, 0.9, 1.2;


$sprite-size-x: 1.2 * 10px;
$sprite-size-y: 1.8 * 10px;

@mixin sprite($sprite) {

    $sprite-x: nth($sprite, 1) * 10px;
    $sprite-y: nth($sprite, 2) * 10px;
    $sprite-height: nth($sprite, 3) * 10px;
    $sprite-height-reset: (nth($sprite, 3) * 10px) / 2;
    $sprite-width: nth($sprite, 4) * 10px;
    $sprite-width-reset: (nth($sprite, 4) * 10px) / 2;
    
    width: $sprite-width;
    height: $sprite-height;
    background-position: $sprite-x $sprite-y;
    background-image: url('images/svg/sprite.svg');
    background-repeat: no-repeat;

}

@mixin sprite-width($sprite, $property) {
    
    $sprite-width: nth($sprite, 4) * 10px;
    #{ $property }: $sprite-width;
}

@mixin sprite-height($sprite, $property) {
    
    $sprite-height: nth($sprite, 4) * 10px;
    #{ $property }: $sprite-height;
}


