{% extends "base/base.twig" %}

{% block content %}

    <div class="l-cs">

        <main role="main">

            <h1 class="main__header">

                {{ title }}

            </h1>

            <div class="main__content">

                <div class="products-container">

                    {% for post in products %}

                        {% if post.post_status != 'private'%}

                            {% include ["modules/product-excerpt.twig"] %}

                        {% endif %}

                    {% endfor %}

                </div>

            </div>

        </main>

    </div>

{% endblock  %}
