// Define colors here, use them later on
// Names are derived from http://chir.ag/projects/name-that-color/
// -----------------------------------------------------------------
$white: #fff;
$gallery: #eee;
$gray: #828282;
$mine-shaft: #222;
$blue: #00e;
$red: #f00;
    

// Base colors
// -----------------------------------------------------------------
$body-bg-color: $white;
$body-color: $mine-shaft;    // Should not be #000 for people with dyslexia: http://uxmovement.com/content/6-surprising-bad-practices-that-hurt-dyslexic-users/
$link-color: $blue;         // Should be a blue so people will know which are links


// Layout colors
// -----------------------------------------------------------------
$nav-bg-color: $white;
$border-color: $gallery;
$lesser-color: $gray;
$lesser-color-hover: darken($gray, 15%);
$alert: $red;
$error: $red;
